{% extends "layout.html" %}
{% block title %}-{{ title }}{% endblock %}
{% block keywords %} {{ meta_keywords }}{% endblock %}
{% block description %}{{ blog_name }}-文章归档{% endblock %}
{% block article %}

    <header class="entry-header">
        <h1 class="single-title">
            文章归档
        </h1>
        <div class="archives-meta">
      <span class="meta">
       共有文章:{{ pages_num }}篇,最后更新:{{ update}}
      </span>
        </div>
    </header>

{% for ar in archives  %}
<details>
  <summary>{{ ar.date }} (共{{ ar.num}}篇文章)</summary>
  <ul>
      {% for a in ar.data %}
      <li>
          <a href="{{ site_url }}{{a.url}}.html" target="_blank">
         {{ a.title }}
        </a>
          <span>
         {{ a.time }}
        </span>
      </li>
      {% endfor %}
  </ul>
</details>
{% endfor %}



{% endblock %}