{% extends "layout.html" %}
{% block title %}-{{ title }}{% endblock %}
{% block keywords %}{{ meta_keywords }}{% endblock %}
{% block description %}{{ meta_description }}{% endblock %}
{% block article %}


{% for a in articles %}
<hgroup>
    <h1>{{ a.title }}</h1>
    <h3> 作者:<a href="#">{{ a.author }}</a> | <small>发表于:{{ a.time }}</small> | <small>更新于:{{ a.uptime }}</small> | Tag:
        {% set tags = a.tag.split(",") %}
        {% for tag in tags %}
        <samll>{{ tag }}</samll>
        {% endfor %}
    </h3>
</hgroup>
<p>{{ a.description }}</p>
<div>
    <a href="{{ site_url }}{{a.url}}.html" target="_blank" >阅读全文>>></a>
</div>


<hr>
<br>

{% endfor %}

<nav>
    <li><a href="{{ prevurl }}" role="button" class="outline">Prev</a></li>
    <li><small>{{ page_num }}</small></li>
    <li><a href="{{ nexturl }}" role="button" class="outline">Next</a></li>
</nav>

{% endblock %}