<!DOCTYPE html>
<html lang="zh-CN" data-theme="light">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="{% block keywords %}{% endblock %}" name="keywords">
    <meta content="{% block description %}{% endblock %}" name="description">
    <meta content="{{ blog_author }}" name="author">
    <link rel="icon" type="image/png" href="{{ site_url }}assets/images/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ site_url }}assets/images/favicon/favicon-16x16.png" sizes="16x16" />
    <title>{{ blog_name_en }}-{{ blog_name }}{% block title %}{% endblock %}</title>
    <!-- 引入 pico.css -->
    <link rel="stylesheet" href="{{ site_url }}assets/css/pico.min.css">
    <!-- 引入 图标CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- 引入 站点样式 -->
    <link rel="stylesheet" href="{{ site_url }}assets/css/custom.css">
    <script src="{{ site_url }}assets/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="hero" data-theme="dark" style="background-image: url('{{ site_url }}{{ blog_bg }}');">
    <nav class="container-fluid">{% include 'nav.html' %}</nav>
    <head>{% include 'head.html' %}</head>
</div>
<main class="container">
    <div class="grid">
        <section>{% block article %}{% endblock %}</section>
        <aside>{% include 'aside.html' %}</aside>
    </div>

</main>
<footer>{% include 'footer.html' %}</footer>
<!-- Minimal theme switcher -->
<script src="{{ site_url }}assets/js/minimal-theme-switcher.js"></script>
<!-- Scroll to Top button selector -->
<a class="to-top"><i class="fa fa-chevron-up fa-3" aria-hidden="true"></i></a>
<script src="{{ site_url }}assets/js/jquery.toTop.min.js"></script>
<script>
        jQuery(function($){
            // Plugin activation (basic - with all default values)
            // $('.to-top').toTop();

            // Plugin activation with options
            $('.to-top').toTop({
                //options with default values
                autohide: true,  //boolean 'true' or 'false'
                offset: 420,     //numeric value (as pixels) for scrolling length from top to hide automatically
                speed: 500,      //numeric value (as mili-seconds) for duration
                position:true,   //boolean 'true' or 'false'. Set this 'false' if you want to add custom position with your own css
                right: 15,       //numeric value (as pixels) for position from right. It will work only if the 'position' is set 'true'
                bottom: 30       //numeric value (as pixels) for position from bottom. It will work only if the 'position' is set 'true'
            });
        });

</script>
</body>
</html>