{% extends "layout.html" %}
{% block title %}-{{ title }}{% endblock %}
{% block keywords %} {{ meta_keywords }}{% endblock %}
{% block description %}{{ blog_name }}-Tag 标签{% endblock %}
{% block article %}

    <header class="entry-header">
     <h1 class="single-title">
      TAGS
     </h1>
        <div class="archives-meta">
      <span class="meta">
       共有标签:{{ tag_num }}个
      </span>
        </div>
    </header>

{% for tag in tags  %}
<details>
  <summary>{{ tag.tag }}</summary>
  <ul>
      {% for blog in tag.data %}
      <li>
          <a href="{{ site_url }}{{ blog.url }}.html" target="_blank">
         {{ blog.title }}
        </a>
          <span>
         {{ blog.time }}
        </span>
      </li>
      {% endfor %}
  </ul>
</details>
{% endfor %}

{% endblock %}