<!DOCTYPE html>
<html lang="en">
 <head>
  <!-- Meta -->
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   碎言博客碎言博客
  </title>
  <meta content="Python,Django,JavaScript,程序员,人生苦短,我用Python" name="keywords"/>
  <meta content=" Python Django JavaScript 学习讨论,我们是一群热爱Python的程序员，人生苦短，我用JavaScript！一个不会JavaScript的Python开发者不是一个好网管。" name="description"/>
  <meta content="J.sky" name="author"/>
  <link href="assets/images/favicon.ico" rel="shortcut icon"/>
  <!-- CSS -->
  <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="assets/css/theme-dark-1.css" id="blogcss" rel="stylesheet" type="text/css"/>
  <!-- highlight.js Markdown代码美化 -->
  <link href="assets/plugins/highlight/styles/atom-one-dark.css" id="highlight" rel="stylesheet"/>
 </head>
 <body>
  <header class="header text-center">
   <h1 class="blog-name pt-lg-4 mb-0 hide">
    <a href="index.html">
     碎言博客
    </a>
   </h1>
   <nav class="navbar navbar-expand-lg navbar-dark" id="blog-nav">
    <button aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navigation" data-toggle="collapse" type="button">
     <i aria-hidden="true" class="fa fa-bars fa-lg">
     </i>
    </button>
    <div class="collapse navbar-collapse flex-column" id="navigation">
     <div class="profile-section pt-3 pt-lg-0">
      <img class="profile-image mb-3 rounded-circle mx-auto hide" height="160px" src="assets/images/touxiang.jpg" width="160px"/>
      <div class="blog-description mb-3 hide">
       You see see you , This one day day di.
      </div>
      <!--//sns-->
      <ul class="social-list list-inline py-3 mx-auto">
       <li>
        <a class="hide" href="https://github.com/bosichong/suiyan" target="blank_blank">
         <i class="fa fa-github fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://gitee.com/J_Sky/suiyan" target="blank_blank">
         <i class="fa fa-git fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://weibo.com/qq285911" target="blank_blank">
         <i class="fa fa-weibo fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://user.qzone.qq.com/285911/" target="blank_blank">
         <i class="fa fa-qq fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://www.zhihu.com/people/J_sky/activities" target="blank_blank">
         <i class="fa fa-book fa-lg">
         </i>
        </a>
       </li>
      </ul>
      <!--//social-list-->
      <hr/>
     </div>
     <!--//profile-section-->
     <ul class="blog-nav navbar-nav flex-column text-left">
      <li class="nav-item hide">
       <a class="nav-link" href="index.html">
        <span>
         <i class="fa fa-home fa-lg">
         </i>
         Blog Home
        </span>
       </a>
      </li>
      <li class="nav-item hide">
       <a class="nav-link" href="archives.html">
        <span>
         <i class="fa fa-archive fa-lg">
         </i>
         Blog Archive
        </span>
       </a>
      </li>
      <li class="nav-item hide">
       <a class="nav-link" href="tags.html">
        <span>
         <i class="fa fa-tags fa-lg">
         </i>
         Blog Tag
        </span>
       </a>
      </li>
      <li class="nav-item hide">
       <a class="nav-link" href="blog/aboutme.html">
        <span>
         <i class="fa fa-user fa-lg">
         </i>
         About Me
        </span>
       </a>
      </li>
     </ul>
     <form class="sform hide">
      <div class="form-row">
       <div class="form-group col-md-8">
        <input class="form-control" id="skey" placeholder="JavaScript" type="text"/>
       </div>
       <div class="form-group col-md-3">
        <button class="search btn btn-primary" data-target=".bd-example-modal-lg" data-toggle="modal" type="button">
         Search
        </button>
       </div>
      </div>
     </form>
     <a href="https://www.aliyun.com/sale-season/2020/procurement-new-members?userCode=cnafsz3c" target="_blank">
      <img alt="【采购季】上云仅¥223/3年" class="img-fluid" src="assets/images/ad/320X100.jpg"/>
     </a>
    </div>
   </nav>
  </header>
  <div class="main-wrapper">
   <section class="blog-list px-3 py-5 p-md-5">
<div class="data-list list-group">
 <div class="blog-article">
  <h1 class="title">
   npm更换源与nrm安装与配置
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2020-03-30 19:43:28
  </span>
  <span class="tag">
   webpack
  </span>
 </div>
 <p>
 </p>
 <h2>
  nrm
 </h2>
 <p>
  安装nrm
 </p>
 <p>
  在命令行执行命令，
  <code>
   npm install -g nrm
  </code>
  ，全局安装nrm。
 </p>
 <p>
  执行命令
  <code>
   nrm ls
  </code>
  查看可选的源。
 </p>
 <p>
  如果要切换到taobao源，执行命令
  <code>
   nrm use taobao
  </code>
  。
 </p>
 <p>
  很简单吧？
 </p>
 <div class="blog-article">
  <h1 class="title">
   pip临时修改下载源
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2020-03-30 19:38:16
  </span>
  <span class="tag">
   Python
  </span>
 </div>
 <p>
 </p>
 <h2>
  pip临时修改源
 </h2>
 <p>
  PYPI国内源路径
 </p>
 <ul>
  <li>
   阿里云 http://mirrors.aliyun.com/pypi/simple/
  </li>
  <li>
   豆瓣(douban) http://pypi.douban.com/simple/
  </li>
  <li>
   清华大学 https://pypi.tuna.tsinghua.edu.cn/simple/
  </li>
  <li>
   中国科学技术大学 http://pypi.mirrors.ustc.edu.cn/simple/
  </li>
 </ul>
 <h3>
  临时换源
 </h3>
 <p>
  临时换源只需要在pip安装包时，加上一个-i参数后接源的url即可：
 </p>
 <pre><code># 下载python中的Django包，这里使用的是豆瓣源
pip install django -i http://pypi.douban.com/simple
</code></pre>
 <h3>
  永久换源（更换默认源）
 </h3>
 <p>
  Linux
 </p>
 <p>
  在根目录下创建/修改～/.pip/pip.confpip配置文件；
进入文件新增/修改内容；
 </p>
 <pre><code>[global]
index-url=http://pypi.douban.com/simple
[install]
trusted-host=pypi.douban.com
</code></pre>
 <p>
  保存文件并退出；
 </p>
 <p>
  Windows
 </p>
 <p>
  windows在%HOMEPATH%\pip\pip.ini中修改上面第二步的内容；
保存文件退出；
 </p>
 <div class="blog-article">
  <h1 class="title">
   Vue快速学习笔记(9)Vuetify配置及简单使用
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2020-03-19 09:33:18
  </span>
  <span class="tag">
   Vue
  </span>
 </div>
 <p>
 </p>
 <h2>
  Vuetify的安装及配置
 </h2>
 <p>
  相对来说vuecli的安装配置比较简单，在插件里搜索
  <code>
   Vuetify
  </code>
  ，安装即可，这里说下
  <code>
   Vuetify
  </code>
  在
  <code>
   webpack
  </code>
  的安装及配置方式。
 </p>
 <p>
  首先是:
 </p>
 <pre><code>npm install vuetify
npm install sass sass-loader fibers deepmerge -D
</code></pre>
 <p>
  然后是配置文件里的加载器配置，因为使用了sass,如下方法配置。
 </p>
 <pre><code>// webpack.config.js

module.exports = {
rules: [
    {
    test: /\.s(c|a)ss$/,
    use: [
        'vue-style-loader',
        'css-loader',
        {
        loader: 'sass-loader',
        // Requires sass-loader@^7.0.0
        options: {
            implementation: require('sass'),
            fiber: require('fibers'),
            indentedSyntax: true // optional
        },
        // Requires sass-loader@^8.0.0
        options: {
            implementation: require('sass'),
            sassOptions: {
            fiber: require('fibers'),
            indentedSyntax: true // optional
            },
        },
        },
    ],
    },
],
}
</code></pre>
 <p>
  然后是引入，这里官网用了一个新建.js来配置
  <code>
   Vuetify
  </code>
  的引入，如果没有设置
  <code>
   @
  </code>
  指向目录，可能会没有效果。
这里我就直接修改了在
  <code>
   main.js
  </code>
  里引用：
 </p>
 <pre><code>//导入Vue
import Vue from "vue";

import App from "./components/App.vue";

// 引入Vuetify组件
import Vuetify from 'vuetify'
import 'vuetify/dist/vuetify.min.css'
Vue.use(Vuetify)
// vuetify 自定义配置
var vuetify = new Vuetify({})

var vm = new Vue({
    el: '#app',
    render: c =&gt; c(App),
    vuetify

});
</code></pre>
 <p>
  好了，大功告成，现在就可以开始愉快的使用
  <code>
   Vuetify
  </code>
  了，总体来说，我比较喜欢
  <code>
   Vuetify
  </code>
  ，很有设计感细节颜色设计的非常棒。
javaScript在线正则表达式测试，本程序纯粹是为了学习Vue、webpack、Vuetify，一个重复制造轮子的的实践。欢迎大家交流学习。
 </p>
 <p>
  项目演示地址：
  <a href="http://j_sky.gitee.io/javascript_regexp/">
   JavaScript_RegExp
  </a>
 </p>
 <p>
  项目仓库地址：
 </p>
 <p>
  <a href="https://gitee.com/J_Sky/JavaScript_RegExp">
   JavaScript_RegExp___gitee
  </a>
  <a href="https://gitee.com/J_Sky/JavaScript_RegExp">
   JavaScript_RegExp___github
  </a>
 </p>
 <div class="blog-article">
  <h1 class="title">
   Vue快速学习笔记(8)webpack4.X配置Vue开发打包环境
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2020-03-05 15:16:08
  </span>
  <span class="tag">
   webpack
  </span>
 </div>
 <p>
 </p>
 <h2>
  webpack 简介
 </h2>
 <p>
  webpack是前端的一个项目构建工具，它是基于
  <code>
   Node.js
  </code>
  开发出来的一个前端工具.
webpack可以完美实现资源的合并、打包、压缩、混淆等诸多功能。
 </p>
 <h3>
  npm修改下载源
 </h3>
 <ul>
  <li>
   先安装
   <code>
    node.js
   </code>
   ，这个大家百度一下，介绍的太多了，这里不敷衍了。安装了
   <code>
    node.js
   </code>
   后就集成了npm *
   <code>
    npm
   </code>
   如果不修改下载源，下载会很慢的，所以推荐修改为淘宝的源。修改方式推荐使用
   <code>
    nrm
   </code>
   。
  </li>
 </ul>
 <p>
  安装：
 </p>
 <pre><code>npm install -g nrm //全局安装
</code></pre>
 <p>
  <code>
   nrm ls
  </code>
  列出所有源，
  <code>
   nrm use taobao
  </code>
  切换淘宝源，至此我们可以无忧的下载了。
 </p>
 <p>
  另外，也有可能出现在没有切换源的时候，连
  <code>
   nrm
  </code>
  都下载不下来的时候，比如我。
那么我们先临时切换npm的下载源：
 </p>
 <pre><code>npm config set registry https://registry.npm.taobao.org
</code></pre>
 <p>
  测试是否改变了源。
 </p>
 <pre><code>npm config get registry
</code></pre>
 <h3>
  安装及初始化webpack
 </h3>
 <pre><code>mkdir webpack-demo &amp;&amp; cd webpack-demo
npm init -y
npm install webpack webpack-cli --save-dev
</code></pre>
 <h3>
  一些npm的安装命令
 </h3>
 <p>
  npm i module_name 　　　　　　　　     # 安装模块到项目目录下
npm i module_name -g 　　　　　　     # -g 的意思是将模块安装到全局，具体安装到磁盘哪个位置，要看 npm config prefix 的位置。 
npm i module_name -S(-save) 　　　 　# --save 的意思是将模块安装到项目目录下，并在package文件的dependencies节点写入依赖。 
npm i module_name -D(--save-dev)　  # --save-dev 的意思是将模块安装到项目目录下，并在package文件的devDependencies节点写入依赖。
 </p>
 <h2>
  初始化webpack
 </h2>
 <pre><code>mkdir webpack-demo &amp;&amp; cd webpack-demo
npm init -y
npm install webpack webpack-cli --save-dev
</code></pre>
 <p>
  通过上边的终端魔法，我们成功的初始化了一个前端项目。
我们现在的目的是配置webpack成为一个模块化的
  <code>
   Vue
  </code>
  前端开发项目，来看看我们需要做哪些事情。
 </p>
 <p>
  webpack打包这里总结为：
 </p>
 <ol>
  <li>
   配置文件
   <code>
    config.js
   </code>
   用来管理配置：开发环境，loader模块，插件，打包等。
  </li>
  <li>
   <code>
    package.json
   </code>
   ,管理各种包依赖插件，还有添加脚本命令。
  </li>
  <li>
   添加并配置各种loader，使webpack能有处理更多文件的能力。
  </li>
  <li>
   添加并配置各种插件，可以处理生产打包中的一些额外功能。
  </li>
 </ol>
 <h2>
  webpack的配置文件
 </h2>
 <p>
  关于webpack的配置文件修改，我推荐安装
  <code>
   webpack-merge
  </code>
  实现配置文件合并.
 </p>
 <p>
  假设：
 </p>
 <p>
  webpack.common.js 公共部分文件
webpack.dev.js 开发环境
webpack.prod.js 生产环境
 </p>
 <pre><code>const merge = require('webpack-merge');//导入包
const common = require('./webpack.common');//导入公共配置文件
。。。。。。config
module.exports=merge(common,devConfig);//合并配置文件
</code></pre>
 <p>
  使用起来很方便，这样就可以方便的配置多种开发调试及生产环境。
 </p>
 <p>
  配置文件的结构目前来说分为四大部分：
 </p>
 <ol>
  <li>
   入口entry
  </li>
  <li>
   出口output
  </li>
  <li>
   模块module
  </li>
  <li>
   插件plugins
  </li>
 </ol>
 <p>
  配置文件结构展示图：
 </p>
 <p>
  <img alt="输入图片说明" src="assets/images/blog/Snip20200306_2.png"/>
 </p>
 <p>
  如果详细讲解webpack的各种配置讲个几天几夜也是说不完的，还是看代码研究吧。
配置的重点在于模块和插件的选项，这我就不贴代码了，如果你有兴趣可以clone仓库里的代码研究一下。
本仓库集成了最基础的模块和插件，包括处理：js es6 css less sass 图片 Vue vue-router，配置文件设置了公共文件，打包在此基础上做了开发和生产两种打包模式。
 </p>
 <p>
  基于webpack4.X创建的Vue开发环境基础搭建的项目，地址如下：
 </p>
 <h2>
  仓库源码下载：
 </h2>
 <ul>
  <li>
   <a href="https://github.com/bosichong/webpack4.X_vue_demo.git">
    github
   </a>
  </li>
  <li>
   <a href="https://gitee.com/J_Sky/webpack4.X_vue_demo.git">
    开源中国码云镜像gitee
   </a>
  </li>
 </ul>
 <h2>
  一些其他注意事项
 </h2>
 <p>
  由于现在新版本的 clean-webpack-plugin 插件引入已经改为:
const { CleanWebpackPlugin } = require('clean-webpack-plugin');
new CleanWebpackPlugin(),//清理目录 而且不用加入目录数组['dist']
 </p>
 <h3>
  使用 webpack-dev-server
 </h3>
 <pre><code>npm install --save-dev webpack-dev-server
</code></pre>
 <p>
  如果报错 
    npm ERR! Failed at the webpack-demo@1.0.0 start script.
    npm ERR! This is probably not a problem with npm. There is likely additional logging output above.
 </p>
 <h2>
  使用babel处理高级JS语法
 </h2>
 <p>
  npm i -D babel-core@6.26.3 babel-loader@7.1.4 babel-preset-env@1.6.1
 </p>
 <ol>
  <li>
   在
   <code>
    webpack.config.js
   </code>
   中添加相关loader模块，其中需要注意的是，一定要把
   <code>
    node_modules
   </code>
   文件夹添加到排除项：
   <code>
    { test: /\.js$/, use: 'babel-loader', exclude: /node_modules/ }
   </code>
  </li>
  <li>
   在项目根目录中添加
   <code>
    .babelrc
   </code>
   文件，并修改这个配置文件如下：
   <code>
    {
    "presets": ["env"]
}
   </code>
  </li>
  <li>
   <strong>
    注意：语法插件
    <code>
     babel-preset-es2015
    </code>
    可以更新为
    <code>
     babel-preset-env
    </code>
    ，它包含了所有的ES相关的语法；
   </strong>
  </li>
 </ol>
 <div class="blog-article">
  <h1 class="title">
   Vue快速学习笔记(5)使用路由vue-router(1)
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2020-02-12 19:03:02
  </span>
  <span class="tag">
   Vue
  </span>
 </div>
 <p>
 </p>
 <h2>
  在Vue中使用路由vue-router
 </h2>
 <ol>
  <li>
   <code>
    html
   </code>
   中导入vue-router.
  </li>
  <li>
   编写
   <code>
    router-link
   </code>
   和
   <code>
    router-view
   </code>
   标签代码
  </li>
  <li>
   <code>
    JavaScript
   </code>
   中编写模板对象，定义路由对象及创建Vue实例。
  </li>
 </ol>
 <p>
  具体代码参考：
 </p>
 <pre><code>&lt;!-- 开发环境版本，包含了有帮助的命令行警告 --&gt;
&lt;script src="/assets/plugins/vue.js"&gt;&lt;/script&gt;
&lt;!-- 引入路由模块 --&gt;
&lt;script src="/assets/plugins/vue-router.js"&gt;&lt;/script&gt;

&lt;div id="app"&gt;
    &lt;!-- 使用router-link定义组件导航 --&gt;
    &lt;router-link to="/login"&gt;登录&lt;/router-link&gt;
    &lt;router-link to="/register"&gt;注册&lt;/router-link&gt;

    &lt;!-- 使用 router-view 显示匹配的组件 --&gt;
    &lt;router-view&gt;&lt;/router-view&gt;
&lt;/div&gt;

&lt;script&gt;
    const login = {
        template: '&lt;h1&gt;登录组件&lt;/h1&gt;'
    }
    const register = {
        template: '&lt;h1&gt;注册组件&lt;/h1&gt;'
    }

    // 创建一个路由示例，通过routers属性来匹配规则
    const routerobj = new VueRouter({
        routes: [{
                path: '/',
                redirect: '/login'
            },
            {
                path: '/login',
                component: login
            },
            {
                path: '/register',
                component: register
            }
        ]
    });
    // 穿件Vue实例
    var vm = new Vue({
        el: '#app',
        router: routerobj
    });
&lt;/script&gt;
</code></pre>
 <div class="blog-article">
  <h1 class="title">
   Vue快速学习笔记(4)Vue组件中的数据传递
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2020-02-11 15:33:53
  </span>
  <span class="tag">
   Vue
  </span>
 </div>
 <p>
 </p>
 <h3>
  Vue组件中的数据传递
 </h3>
 <p>
  父组件向子组件传递数据:
 </p>
 <ul>
  <li>
   使用
   <code>
    props
   </code>
   属性来定义子组件的数据。
  </li>
  <li>
   使用
   <code>
    v-bind
   </code>
   指令在组件中可以使父组件的数据传递到子组件中。
  </li>
 </ul>
 <p>
  示例代码
 </p>
 <pre><code>&lt;!-- 开发环境版本，包含了有帮助的命令行警告 --&gt;
&lt;script src="/assets/plugins/vue.js"&gt;&lt;/script&gt;
&lt;template id="mh"&gt;
    &lt;h1&gt; {{finfo}}&lt;/h1&gt;
&lt;/template&gt;

&lt;div id="app"&gt;
    &lt;mh finfo="子组件的数据"&gt;&lt;/mh&gt;
    &lt;mh :finfo="msg"&gt;&lt;/mh&gt;
&lt;/div&gt;

&lt;script&gt;
    var vm = new Vue({
        el: "#app",
        data: {
            msg:"这是父组件Vue实例中传来的消息。"
        },
        components:{
            mh:{
                template:"#mh",
                props:['finfo']
            }
        }
    });
&lt;/script&gt;
</code></pre>
 <p>
  子组件向父组件传值
 </p>
 <div class="blog-article">
  <h1 class="title">
   Vue快速学习笔记(3)Vue的组件
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2020-02-04 15:08:07
  </span>
  <span class="tag">
   Vue
  </span>
 </div>
 <p>
 </p>
 <h3>
  Vue中的组件
 </h3>
 <p>
  首先注册组件：
 </p>
 <pre><code>    Vue.component("my-btn", {
        data:function() {
            return {
                count:0
            }
        },
        template:"#mybtn"
    });
</code></pre>
 <p>
  需要一个组件名称和组件的代码模板，组件中的数据和Vue实例的数据不同，一个组件的data选项必须是一个函数。
 </p>
 <p>
  定义模板
 </p>
 <pre><code>&lt;template id="mybtn"&gt;
    &lt;button v-on:click="count++"&gt;已经点击了{{ count }}次！&lt;/button&gt;
&lt;/template&gt;
</code></pre>
 <p>
  编写Vue实例，完整代码如下：
 </p>
 <pre><code>&lt;!-- 开发环境版本，包含了有帮助的命令行警告 --&gt;
&lt;script src="/assets/plugins/vue.js"&gt;&lt;/script&gt;
&lt;template id="mybtn"&gt;
    &lt;button v-on:click="count++"&gt;已经点击了{{ count }}次！&lt;/button&gt;
&lt;/template&gt;

&lt;div id="app"&gt;
    &lt;my-btn&gt;&lt;/my-btn&gt;
    &lt;my-btn&gt;&lt;/my-btn&gt;
    &lt;my-btn&gt;&lt;/my-btn&gt;
&lt;/div&gt;

&lt;script&gt;
    Vue.component("my-btn", {
        data:function() {
            return {
                count:0
            }
        },
        template:"#mybtn"
    });

    vm = new Vue({
        el:'#app'
    })

&lt;/script&gt;
</code></pre>
 <p>
  如上，就可以实现一个全局的组件注册，可以重复使用。
 </p>
 <div class="blog-article">
  <h1 class="title">
   Vue快速学习笔记(2)Vue中的监听与计算属性
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2020-02-01 10:31:26
  </span>
  <span class="tag">
   Vue
  </span>
 </div>
 <p>
 </p>
 <h3>
  Vue中的监听
 </h3>
 <p>
  <code>
   watch
  </code>
  用来监听
  <code>
   Vue
  </code>
  实例中数据的变化，然后可以出发一个事件。
例如，反转字符串：
 </p>
 <!-- 开发环境版本，包含了有帮助的命令行警告 -->
 <pre><code>&lt;script src="/assets/plugins/vue.js"&gt;&lt;/script&gt;
&lt;div id="app"&gt;
    &lt;input type="text" v-model="vt"&gt;
    &lt;p v-text="nvt"&gt;&lt;/p&gt;
&lt;/div&gt;


&lt;script&gt;
   var vm = new Vue({
        el:"#app",
        data:{
            vt:"",
            nvt:""
        },
        watch: {
            vt:function(val){
                this.nvt=this.vt.split('').reverse().join('')

            }
        },
    })

&lt;/script&gt;
</code></pre>
 <p>
  除了 watch 选项之外，您还可以使用命令式的 vm.$watch API。
 </p>
 <h3>
  Vue中的计算属性
 </h3>
 <p>
  计算属性和监听有些相似，有的时候作用都差不多吧。
 </p>
 <p>
  下边的例子就是采用Vue的计算属性，
 </p>
 <p>
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="/assets/plugins/vue.js">
  </script>
 </p>
 <pre><code>&lt;div id="app1"&gt;
    &lt;p&gt;计算属性&lt;/p&gt;
    &lt;input type="text" v-model="vt"&gt;
    &lt;p v-text="rtvt"&gt;&lt;/p&gt;
&lt;/div&gt;


&lt;script&gt;


    var vm1 = new Vue({
        el :"#app1",
        data:{
            vt:""
        },
        computed: {
            rtvt:function(){
                return this.vt.split("").reverse().join("")
            }
        },

    })

&lt;/script&gt;
</code></pre>
 <p>
  感觉计算属性要比监听简单直观些。
 </p>
 <div class="spage">
  <div aria-label="Basic example" class="pagination pagination4 btn-group" id="suiyanpage" role="group">
   <a href="#">
    <button class="prev btn btn-primary" type="button">
     Previous
    </button>
   </a>
   <button class="page btn btn-primary" type="button">
    0 / 14
   </button>
   <a href="/list/list_1.html">
    <button class="next btn btn-primary" type="button">
     Next
    </button>
   </a>
  </div>
 </div>
</div>
   </section>
   <script src="assets/plugins/jquery-3.3.1.min.js">
   </script>
   <!-- Javascript -->
   <script src="assets/plugins/bootstrap/js/bootstrap.min.js">
   </script>
   <footer class="footer text-center py-2 theme-bg-dark">
    <div class="card text-center">
     <div class="card-body">
      <p>
       <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="license" target="_blank">
        <img src="https://licensebuttons.net/l/by-nc-sa/4.0/80x15.png" style="border-width:0"/>
       </a>
      </p>
      <p class="am-text-sm am-text-center">
       <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="license" target="_blank">
        本站采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可。
       </a>
      </p>
      <p>
       Powered by
       <a href="https://gitee.com/J_Sky/suiyan">
        SuiYan
       </a>
       | by J.sky
       <small>
        Copyright
        <i aria-hidden="true" class="fa fa-copyright">
        </i>
        2017-2020 碎言博客
       </small>
      </p>
     </div>
    </div>
    <!-- Scroll to Top button selector -->
    <a class="to-top">
     <i aria-hidden="true" class="fa fa-chevron-up fa-3">
     </i>
    </a>
    <script src="assets/plugins/jquery.toTop.min.js">
    </script>
    <script>
     jQuery(function($){
            // Plugin activation (basic - with all default values)
            // $('.to-top').toTop();

            // Plugin activation with options
            $('.to-top').toTop({
                //options with default values
                autohide: true,  //boolean 'true' or 'false'
                offset: 420,     //numeric value (as pixels) for scrolling length from top to hide automatically
                speed: 500,      //numeric value (as mili-seconds) for duration
                position:true,   //boolean 'true' or 'false'. Set this 'false' if you want to add custom position with your own css
                right: 15,       //numeric value (as pixels) for position from right. It will work only if the 'position' is set 'true'
                bottom: 30       //numeric value (as pixels) for position from bottom. It will work only if the 'position' is set 'true'
            });
        });
    </script>
    <!-- 搜索模态对话框。 -->
    <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg" role="dialog" tabindex="-1">
     <div class="modal-dialog modal-lg">
      <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
         搜索结果
        </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
         <span aria-hidden="true">
          ×
         </span>
        </button>
       </div>
       <div class="modal-body">
        <ul class="search-list car-list navbar-nav">
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- 站点自定义JS -->
    <script src="assets/js/build/index.js">
    </script>
    <!-- highlight.js Markdown代码美化 -->
    <script src="assets/plugins/highlight/highlight.pack.js">
    </script>
    <script>
     hljs.initHighlightingOnLoad();
    </script>
   </footer>
  </div>
  <!--//main-wrapper-->
 </body>
</html>