<!DOCTYPE html>
<html lang="en">
 <head>
  <!-- Meta -->
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   碎言博客碎言博客
  </title>
  <meta content="Python,Django,JavaScript,程序员,人生苦短,我用Python" name="keywords"/>
  <meta content=" Python Django JavaScript 学习讨论,我们是一群热爱Python的程序员，人生苦短，我用JavaScript！一个不会JavaScript的Python开发者不是一个好网管。" name="description"/>
  <meta content="J.sky" name="author"/>
  <link href="/assets/images/favicon.ico" rel="shortcut icon"/>
  <!-- CSS -->
  <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="/assets/css/theme-dark-1.css" id="blogcss" rel="stylesheet" type="text/css"/>
  <!-- highlight.js Markdown代码美化 -->
  <link href="/assets/plugins/highlight/styles/atom-one-dark.css" id="highlight" rel="stylesheet"/>
 </head>
 <body>
  <header class="header text-center">
   <h1 class="blog-name pt-lg-4 mb-0 hide">
    <a href="index.html">
     碎言博客
    </a>
   </h1>
   <nav class="navbar navbar-expand-lg navbar-dark" id="blog-nav">
    <button aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navigation" data-toggle="collapse" type="button">
     <i aria-hidden="true" class="fa fa-bars fa-lg">
     </i>
    </button>
    <div class="collapse navbar-collapse flex-column" id="navigation">
     <div class="profile-section pt-3 pt-lg-0">
      <img class="profile-image mb-3 rounded-circle mx-auto hide" height="160px" src="/assets/images/touxiang.jpg" width="160px"/>
      <div class="blog-description mb-3 hide">
       You see see you , This one day day di.
      </div>
      <!--//sns-->
      <ul class="social-list list-inline py-3 mx-auto">
       <li>
        <a class="hide" href="https://github.com/bosichong/suiyan" target="blank_blank">
         <i class="fa fa-github fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://gitee.com/J_Sky/suiyan" target="blank_blank">
         <i class="fa fa-git fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://weibo.com/qq285911" target="blank_blank">
         <i class="fa fa-weibo fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://user.qzone.qq.com/285911/" target="blank_blank">
         <i class="fa fa-qq fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://www.zhihu.com/people/J_sky/activities" target="blank_blank">
         <i class="fa fa-book fa-lg">
         </i>
        </a>
       </li>
      </ul>
      <!--//social-list-->
      <hr/>
     </div>
     <!--//profile-section-->
     <ul class="blog-nav navbar-nav flex-column text-left">
      <li class="nav-item hide">
       <a class="nav-link" href="/index.html">
        <span>
         <i class="fa fa-home fa-lg">
         </i>
         Blog Home
        </span>
       </a>
      </li>
      <li class="nav-item hide">
       <a class="nav-link" href="/archives.html">
        <span>
         <i class="fa fa-archive fa-lg">
         </i>
         Blog Archive
        </span>
       </a>
      </li>
      <li class="nav-item hide">
       <a class="nav-link" href="/tags.html">
        <span>
         <i class="fa fa-tags fa-lg">
         </i>
         Blog Tag
        </span>
       </a>
      </li>
      <li class="nav-item hide">
       <a class="nav-link" href="/blog/aboutme.html">
        <span>
         <i class="fa fa-user fa-lg">
         </i>
         About Me
        </span>
       </a>
      </li>
     </ul>
     <form class="sform hide">
      <div class="form-row">
       <div class="form-group col-md-8">
        <input class="form-control" id="skey" placeholder="JavaScript" type="text"/>
       </div>
       <div class="form-group col-md-3">
        <button class="search btn btn-primary" data-target=".bd-example-modal-lg" data-toggle="modal" type="button">
         Search
        </button>
       </div>
      </div>
     </form>
     <a href="https://www.aliyun.com/sale-season/2020/procurement-new-members?userCode=cnafsz3c" target="_blank">
      <img alt="【采购季】上云仅¥223/3年" class="img-fluid" src="/assets/images/ad/320X100.jpg"/>
     </a>
    </div>
   </nav>
  </header>
  <div class="main-wrapper">
   <section class="blog-list px-3 py-5 p-md-5">
<div class="data-list list-group">
 <div class="blog-article">
  <h1 class="title">
   实战：利用Django开发部署自己的个人博客（11）博客分类页及搜索页的实现
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2017-12-11 10:59:44
  </span>
  <span class="tag">
   Django
  </span>
 </div>
 <p>
 </p>
 <p>
  上节我们通过博客的模板继承及上下文沉浸器大大简化了模板的代码量，这节我们继续实现分类页及搜索结果页的展示。
 </p>
 <h2>
  缩短网址
 </h2>
 <p>
  之后我们访问博客地址是
  <code>
   http://127.0.0.1:8000/blog/home
  </code>
  ，如果我们想直接访问地址也就是域名后直接打开博客首页怎么办？
 </p>
 <p>
  首先修改'blog01.urls.py'中的代码：
 </p>
 <pre><code>url(r'^', include('myblog.urls',namespace='')),#修改为直接为域名根目录，缩短网址。
</code></pre>
 <p>
  去掉
  <code>
   r'^blog'
  </code>
  中的
  <code>
   blog
  </code>
  ,
 </p>
 <p>
  再修改'myblog.urls.py'中的代码：
注释掉
  <code>
   # url(r'^list$', v.list, name='list'),
  </code>
  修改为
  <code>
   url(r'^$', v.list, name=''),#项目首页
  </code>
 </p>
 <p>
  运行服务器，直接访问：
  <code>
   http://127.0.0.1:8000
  </code>
  ，这时直接打开的是博客列表页展示的首页。
 </p>
 <h2>
  Django实现博客分类页展示
 </h2>
 <p>
  首页展示的是所有文章页，我想点击分类显示为分类下边的相关文章，这个如何实现？
首先我们看下点击分类后，url的格式
  <code>
   http://127.0.0.1:8000/?c=2
  </code>
  这个分类页的连接中包括一个典型的get参数，
我们可以在视图中获得这个参数2,然后再搜索所有分类
  <code>
   id=2
  </code>
  的文章，然后返回给模板即可展示出来结果了。
 </p>
 <p>
  编写视图文件的代码
 </p>
 <pre><code>c = request.GET.get('c', '')
if c:
    #搜索分类ID为c的所有文章，如果分类id为空，这里就返回所有文章。
    articles = articles.filter(category=c,).order_by('-create_time')
</code></pre>
 <p>
  这里的变量c，通过
  <code>
   request.GET.get('c', '')
  </code>
  获取页面上的C的
  <code>
   key
  </code>
  ，
  <code>
   request.GET['c']
  </code>
  也可以访问，但不安全。
然后通过
  <code>
   Django
  </code>
  中提供数据过滤
  <code>
   .filter
  </code>
  搜索出相关的文章，然后排序后返回给模板，模板那边的代码都不用修改即可正常显示。
好了，我们访问
  <code>
   http://127.0.0.1:8000/?c=2
  </code>
  所有分类
  <code>
   id=2
  </code>
  文章就搜索出来了。
 </p>
 <h2>
  搜索结果页面
 </h2>
 <p>
  在当前的页面上边有个搜索框，这是一个搜索的入口，我们希望用户通过这个搜索框进行一些模糊搜索，比如根据关键字搜索标题或正文中是否包含关键字，然后返回搜索结果展示。
说到搜索，其实首先想到的是应该对这个搜索关键字做一些限制，比如长度，还有就是安全sql注入等。
我们的搜索结果url地址
  <code>
   http://127.0.0.1:8000/?s=Python
  </code>
  ，应该是这个相似。
这里我们采用django提供的一个表单框架来实现当前的搜索功能，接下来开始编写代码。
 </p>
 <p>
  创建myblog.forms.py:
 </p>
 <pre><code>#coding=utf-8
from django import forms

class Searchform(forms.Form):
    #搜索表单定义
    s = forms.CharField(max_length=20)
</code></pre>
 <p>
  就这点代码，定义了一个表单。
 </p>
 <p>
  在视图
  <code>
   myblog.views.py
  </code>
  中使用,先引用
 </p>
 <pre><code>from .forms import Searchform
</code></pre>
 <p>
  然后编写代码
 </p>
 <pre><code>s = ''#搜索关键字
#以下判断表单是否验证成功，如果验证成功返回一个字符串s
if request.method == 'GET':
    form = Searchform(request.GET)
    if form.is_valid():
        s = request.GET.get('s')
if s :
    articles = articles.filter(Q(title__contains=s)|Q(content__contains=s)).order_by('-create_time')
</code></pre>
 <p>
  这里有个Q函数记得引用一下
  <code>
   from django.db.models import Q#模糊查询多个字段使用
  </code>
  ,这个Q函数是关键字查询中经常使用到的，详细了解请百度。
 </p>
 <p>
  然后模板里修改一下模板
  <code>
   base.html
  </code>
  中搜索框的代码：
 </p>
 <pre><code>&lt;form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right"  action="{% url '' %}"&gt;
  &lt;div class="am-form-group"&gt;
    &lt;input type="text" class="am-form-field am-input-sm" placeholder="搜索文章" name="s"&gt;
  &lt;/div&gt;
  &lt;button type="submit" class="am-btn am-btn-default am-btn-sm"&gt;搜索&lt;/button&gt;
&lt;/form&gt;
</code></pre>
 <p>
  <code>
   {% url '' %}
  </code>
  这是模板中的标签，Django中提供了很多模板标签，如果需要详细了解可以查看官方的文档。
 </p>
 <p>
  好了，我们刷新首页，然后在搜索框里输入:10 就会搜索标题有含有10的文章了，
 </p>
 <p>
  <img alt="输入图片说明" src="/assets/images/media/upload/2017/12/Snip20171211_46.png"/>
 </p>
 <p>
  到此我们的分类页及搜索结果页面的功能就实现了。
如果在修改中发现了错误，可以复制留言中的错误回复，站长看到会帮助解答的。另外可以查看源文件核对，看看自己哪里改的不对，也能发现错误。
 </p>
 <h2>
  本文源码下载：
 </h2>
 <ul>
  <li>
   <a href="https://github.com/bosichong/17python.com/tree/master/Django">
    github
   </a>
  </li>
  <li>
   <a href="https://gitee.com/J_Sky/17python.com/tree/master/Django">
    开源中国码云镜像gitee
   </a>
  </li>
 </ul>
 <div class="blog-article">
  <h1 class="title">
   实战：利用Django开发部署自己的个人博客（10）Django上下文Context解决全站通用数据
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2017-12-09 10:38:16
  </span>
  <span class="tag">
   Django
  </span>
 </div>
 <p>
 </p>
 <p>
  09节我们通过
  <code>
   Django
  </code>
  模板的继承对blog的两个模板页进行了改造，大大减少了模板中重复的代码，编码中复用及重构才是王道哈。
 </p>
 <h2>
  <code>
   Django
  </code>
  的上下文Context
 </h2>
 <p>
  现在的blog中主要有两个模板文件，对应二个视图的函数，我们也了解到如果模板需要数据，需要从视图函数中通过
  <code>
   return render()
  </code>
  来传递。
但我们发现一个问题，就是两个模板需要一些很多相同的数据，比如两个模板中右侧都blog分类和站长资料展示，如果我们按常规操作，
每个视图函数中都需要获取一下这二个数据，然后返回，这样做显然不合适，如果有成百上千个模板页的话我们就要写千百段代码，如果需要修改，我们就要修改千百段代码。
这显然是一个坑，不过
  <code>
   Django
  </code>
  提供了一个上下文Context功能，很好的解决了这个问题。
 </p>
 <h2>
  创建
  <code>
   Django
  </code>
  上下文Context
 </h2>
 <p>
  <code>
   Context
  </code>
  实际上就是一个文件中带有一个字典返回值的函数，这样看来创建上下文Context，需要创建一个文件和一个函数，
然后还需要在配置文件中添加到配置项。
 </p>
 <p>
  创建
  <code>
   myblog.blog_context.py
  </code>
  编写代码如下：
 </p>
 <pre><code>#coding=utf-8
from django.conf import settings as original_settings#必须引入
from myblog.models import UserProfile, Category, Siteinfo#导入一些必须的model
def blog_info(request):
    #站长及博客上下文数据管理
    userinfo = UserProfile.objects.get(pk=1)#站长资料
    siteinfo = Siteinfo.objects.get(pk=1)#blog相关资料
    categorts = Category.objects.all().order_by('sort_id')#根据排序获取所有分类
    #把获取的数据通过字典返回
    return {'userinfo':userinfo, 'siteinfo':siteinfo, 'categorts':categorts}
</code></pre>
 <p>
  在
  <code>
   settings.py.TEMPLATES.OPTIONS.context_processors
  </code>
  下添加我们刚刚创建文件的地址:
 </p>
 <pre><code>TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'DIRS': [],
        'APP_DIRS': True,
        'OPTIONS': {
            'context_processors': [
                'django.template.context_processors.debug',
                'django.template.context_processors.request',
                'django.contrib.auth.context_processors.auth',
                'django.contrib.messages.context_processors.messages',
                #上下文Context
                'myblog.blog_context.blog_info'
            ],
        },
    },
]
</code></pre>
 <p>
  好吧，你是不是要说，就这么简单？好吧，我们把获取的数据添加到模板中测试，如果你没有分类及站长资料数据，请先自己更新一些，
我们修改
  <code>
   base.html
  </code>
  中的站长的关于我：
 </p>
 <pre><code>  &lt;section class="am-panel am-panel-default"&gt;
    &lt;div class="am-panel-hd"&gt;关于我&lt;/div&gt;
    &lt;div class="am-panel-bd"&gt;
      &lt;p&gt;{{ userinfo.detail }}&lt;/p&gt;
    &lt;/div&gt;
  &lt;/section&gt;
</code></pre>
 <p>
  然后我查看
  <code>
   http://127.0.0.1:8000/blog/list
  </code>
  和
  <code>
   http://127.0.0.1:8000/blog/blog/1
  </code>
 </p>
 <p>
  <img alt="输入图片说明" src="/assets/images/media/upload/2017/12/Snip20171209_44.png"/>
 </p>
 <p>
  怎么样？是不是有种打了很久的游戏才通关的爽，上下文用起来真的是很方便，我在改改分类：
 </p>
 <pre><code>  &lt;section class="am-panel am-panel-default"&gt;
    &lt;div class="am-panel-hd"&gt;关于我&lt;/div&gt;
    &lt;div class="am-panel-bd"&gt;
      &lt;p&gt;{{ userinfo.detail }}&lt;/p&gt;
    &lt;/div&gt;
  &lt;/section&gt;
  &lt;section class="am-panel am-panel-default"&gt;
    &lt;div class="am-panel-hd"&gt;文章目录&lt;/div&gt;
    &lt;ul class="am-list blog-list"&gt;
      {% for categort in categorts %}
      &lt;li&gt;&lt;a href="#"&gt;{{ categort.title }}&lt;/a&gt;&lt;/li&gt;
      {% endfor %}
    &lt;/ul&gt;
  &lt;/section&gt;
</code></pre>
 <p>
  然后刷新页面查看一下效果：
 </p>
 <p>
  <img alt="输入图片说明" src="/assets/images/media/upload/2017/12/Snip20171209_45.png"/>
 </p>
 <p>
  至此我们网站上的通用处，我们都可以使用Django模板继承和上下文来解决，大大减少了代码量，并且使程序的逻辑更为清楚！
 </p>
 <h2>
  本文源码下载：
 </h2>
 <ul>
  <li>
   <a href="https://github.com/bosichong/17python.com/tree/master/Django">
    github
   </a>
  </li>
  <li>
   <a href="https://gitee.com/J_Sky/17python.com/tree/master/Django">
    开源中国码云镜像gitee
   </a>
  </li>
 </ul>
 <div class="blog-article">
  <h1 class="title">
   实战：利用Django开发部署自己的个人博客（9）Django模板的继承
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2017-12-08 10:23:47
  </span>
  <span class="tag">
   Django
  </span>
 </div>
 <p>
 </p>
 <p>
  从上一节开始，我们将一直持续和前端的渲染打交道了，当前我们的blog有两个前端的模板页，后继会因为功能的扩展出现更多的模板页，
我们发现模板页中大部分代码都是相同的，我们只修改其中的一部分代码，那么我们能不能通过某些方法来重用这些代码，这样方便以后的代码修改。
答案是有的，
  <code>
   Django
  </code>
  提供了一个模板继承的功能，它可以让你引用或包含一些模板上共用的代码。
 </p>
 <h2>
  <code>
   Django
  </code>
  模板中的代码引用
 </h2>
 <p>
  blog的页面中有很多重复的代码，比如导航，站点底部，一些广告代码，侧边的分类标签等信息，这些需要重复使用的代码我们不要到处复制，
这样以后如果修改的话就会有很多麻烦，我们应该建立相应的模板页，然后通过继承来使用，这样会大大减少我们的代码编写工作量。
 </p>
 <p>
  我们创建
  <code>
   myblog.templates.base.html
  </code>
  复制
  <code>
   list.html
  </code>
  中所有的代码粘贴过去。
关于模板中定义使用的代码主要有1种：
 </p>
 <pre><code>{% block site_title %}blog{% endblock site_title %}
</code></pre>
 <p>
  <code>
   block
  </code>
  定义，引用后可以在继承页上修改
  <code>
   site_title
  </code>
  的标题。
 </p>
 <pre><code>{% block article %} 文章列表内容 {% endblock article %}
</code></pre>
 <p>
  比如上边我又定义了一下文章列表内容的引用模块
  <code>
   block
  </code>
  ，我们看下
  <code>
   list.html
  </code>
  中是如何引用这些
  <code>
   block
  </code>
 </p>
 <p>
  <code>
   list.html
  </code>
  的代码基本上可以变的很简单了，首先最上边要加入引用需要继承的父类模板页，然后添加需要修改的引用代码：
 </p>
 <pre><code>{% extends 'base.html' %}
{% block site_title %}MyDjangoBlog~~~~~{% endblock site_title %}
{% block article %} 
{% for article in articles %}
&lt;article class="blog-main"&gt;
    &lt;h3 class="am-article-title"&gt;
    &lt;a href="#"&gt;{{ article.title }}&lt;/a&gt;
    &lt;/h3&gt;
    &lt;h4 class="am-article-meta blog-meta"&gt;发布时间：2014/06/17&lt;/h4&gt;
    &lt;p&gt;作者：{{ article.user.nick_name }} 分类：{{ article.category }}&lt;/p&gt;
    &lt;div class="am-g blog-content"&gt;
    {{ article.content }}
    &lt;/div&gt;
&lt;/article&gt;
&lt;hr class="am-article-divider blog-hr"&gt;
{% endfor %}
{% endblock article %}
</code></pre>
 <p>
  不会吧？
  <code>
   list.html
  </code>
  就变成这么点代码了？我们运行一下服务器,然后访问
  <code>
   http://127.0.0.1:8000/blog/list
  </code>
  和之前一样没毛病！真是强大的模板继承功能，其实我非常喜欢这个功能！
 </p>
 <p>
  照猫画虎，把
  <code>
   blog.html
  </code>
  也修改了！
 </p>
 <pre><code>{% extends 'base.html' %}
{% block site_title %}{{ article.title }}{% endblock site_title %}
{% block article %} 
&lt;article class="blog-main"&gt;
    &lt;h3 class="am-article-title"&gt;
    &lt;a href="#"&gt;{{ article.title }}&lt;/a&gt;
    &lt;/h3&gt;
    &lt;h4 class="am-article-meta blog-meta"&gt;发布时间：2014/06/17&lt;/h4&gt;
    &lt;p&gt;作者：{{ article.user.nick_name }} 分类：{{ article.category }}&lt;/p&gt;
    &lt;div class="am-g blog-content"&gt;
    {{ article.content }}
    &lt;/div&gt;
&lt;/article&gt;
{% endblock article %}
</code></pre>
 <p>
  我们访问
  <code>
   http://127.0.0.1:8000/blog/blog/1
  </code>
  结果也是很明显的，让我们继续感叹一下
  <code>
   block
  </code>
  继承功能的强大吧
 </p>
 <h2>
  本文源码下载：
 </h2>
 <ul>
  <li>
   <a href="https://github.com/bosichong/17python.com/tree/master/Django">
    github
   </a>
  </li>
  <li>
   <a href="https://gitee.com/J_Sky/17python.com/tree/master/Django">
    开源中国码云镜像gitee
   </a>
  </li>
 </ul>
 <div class="blog-article">
  <h1 class="title">
   听说存储数据Python与SQLite3更配哦！
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2017-11-16 17:34:15
  </span>
  <span class="tag">
   数据库
  </span>
 </div>
 <p>
 </p>
 <p>
  曾经以为数据库自己一定需要大的，好的，功能多的，处理数据快的，迸发牛的，现在想想就象上小学时时常想：以后考大学是北大还是清华呢？后来才发现自己真特么多虑了。
如果你只是个人或是小型的应用，我这里隆重的推荐给你SQLite这个迷你型的数据库。
 </p>
 <h2>
  SQLite
 </h2>
 <p>
  SQLite 是一个软件库，实现了自给自足的、无服务器的、零配置的、事务性的 SQL 数据库引擎。SQLite 是在世界上最广泛部署的 SQL 数据库引擎。SQLite 源代码不受版权限制。
是不是很兴奋？没有其它数据库的安装配置繁琐步骤，没有占用你吃紧的内存，最重要的是功能一样大而全而且免费不要钱。
 </p>
 <h2>
  SQLite安装
 </h2>
 <p>
  几乎所有版本的 Linux 操作系统都附带 SQLite，所以win党们请自行在官网上下载安装即可。
 </p>
 <pre><code>➜  ~ sqlite3 
SQLite version 3.8.10.2 2015-05-20 18:17:19
Enter ".help" for usage hints.
Connected to a transient in-memory database.
Use ".open FILENAME" to reopen on a persistent database.
sqlite&gt;
</code></pre>
 <p>
  通过终端输入sqlite3即可验证数据库是否安装成功！
 </p>
 <h2>
  python中使用sqlite3
 </h2>
 <p>
  通过Python结合sqlite3实现一个简单的个人备忘录，简单了解一下在Python中是如何操作数据库的。
在Python中操作sqlite很简单，引入sqlite3模块，就可以开始进行数据库的编程之旅了。
 </p>
 <h2>
  创建数据库
 </h2>
 <pre><code>import sqlite3#引入模块
import os
from datetime import *
print(os.path.join(os.path.dirname(__file__), 'memorandum.db'))
conn = sqlite3.connect(os.path.join(os.path.dirname(__file__), 'memorandum.db'))#在当目录下创建数据库
print('备忘录数据库创建成功！')
</code></pre>
 <h2>
  创建表及字段
 </h2>
 <p>
  cursor()将创建一个cursor对象，将在Python数据库编程中用到。
cursor.execute()将处理操作与数据库相关的几乎所有命令。
 </p>
 <pre><code>c = conn.cursor()#创建一个cursor对象
# 创建表
c.execute('''create table tab(
    id integer not null primary key autoincrement,
    title char(50),
    content text not null,
    c_date text);''')
print('数据表创建成功！')
conn.commit()#提交事务
conn.close()#关闭连接
</code></pre>
 <p>
  通过以上代码就可以在数据库中创建一个表了，如果你不太习惯在代码中创建表，你可以使用DBeaver,操作简单方便人性化，是编写数据库命令，查看数据库表结构，备份数据之良品。
有了数据表，我们就可以对表进行增删改查了。
sqlite中的sql语句和大部分数据库操作语名是相同的，如果你有过其它数据库操作的基础，那么使用sqlite就会非常简单了
 </p>
 <h2>
  插入数据
 </h2>
 <pre><code>title = '测试标题'
content = '插入数据测试。'
format = "%Y-%m-%d %H:%M:%S"
now = datetime.now().strftime(format)#创建当前时间字符串
sql = "insert into tab (id,title, content, c_date) values (NULL,'{0}','{1}','{2}')".format(title,content,now)
print(sql)
c.execute(sql)
conn.commit()
conn.close()#关闭连接
</code></pre>
 <h2>
  批量插入数据
 </h2>
 <p>
  python往sqlite3插入数据的sql语句支持'?'占位符，这样我们很方便的可以批量插入数据。
 </p>
 <pre><code># 准备10000条数据插入
for i in range(10000):
    format = "%Y-%m-%d %H:%M:%S"
    now = datetime.now().strftime(format)#创建当前时间字符串
    c.execute('insert into tab (id,title, content, c_date) values(?,?,?,?)',(None,str(i),str(i),now))
conn.commit()#提交事务
conn.close()
</code></pre>
 <h2>
  删除数据
 </h2>
 <pre><code>sql = "delete from tab where id = 2"#拼装sql语句
c.execute(sql)#执行删除
conn.commit()
conn.close()
</code></pre>
 <p>
  执行上边的代码，发现id为2的数据已经被删除。
  <img alt="输入图片说明" src="/assets/images/media/upload/2017/11/Snip20171116_11.png"/>
 </p>
 <h2>
  更新数据
 </h2>
 <pre><code>sql = "update tab set title='Boy' where id = 20004"
c.execute(sql)
conn.commit()
conn.close()
</code></pre>
 <h2>
  查询数据
 </h2>
 <pre><code>sql = "select * from tab"
l = c.execute(sql)
for s in l :
    print(s)
conn.close
</code></pre>
 <p>
  运行代码后可以看到终端输出：
  <img alt="输入图片说明" src="/assets/images/media/upload/2017/11/Snip20171116_12.png"/>
 </p>
 <p>
  其它查询只是sql语句的不同，这里暂时不再测试了，有兴趣的可以查阅sql编程相关资料。
综合来说，
  <code>
   python
  </code>
  与
  <code>
   sqlite3
  </code>
  联合使用真是很方便，是数据采集入库处理查询必备哇。
 </p>
 <h2>
  本文源码下载：
 </h2>
 <ul>
  <li>
   <a href="https://github.com/bosichong/17python.com/tree/master/sqlite3">
    github
   </a>
  </li>
  <li>
   <a href="https://gitee.com/J_Sky/17python.com/tree/master/sqlite3">
    开源中国码云镜像gitee
   </a>
  </li>
 </ul>
 <div class="blog-article">
  <h1 class="title">
   如何快速的复习学习过的Python
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2017-11-07 16:19:22
  </span>
  <span class="tag">
   Python基础
  </span>
 </div>
 <p>
 </p>
 <p>
  最近老妈骨折住院，在医院护理了有8天，终于回出院回家了。回到家第一件事就是想到之前学习了python，如何快速的复习一下曾经学过的
  <code>
   python
  </code>
  呢？
 </p>
 <h2>
  语法/变量/表达式
 </h2>
 <p>
  也许我们能找到一个小小例子来快速的复习一下基本语法，那么这种例子有很多，比如：打印九九乘法表/斐波那契数列/排序法等等。
 </p>
 <h2>
  九九乘法表
 </h2>
 <p>
  快速复习
  <code>
   for
  </code>
  及
  <code>
   print format
  </code>
  等函数的用法。
 </p>
 <pre><code>for i in range(1,10):
    for j in range(1,i+1):
        print("{}X{}={}".format(i,j,i*j), end=' ')
    print()
</code></pre>
 <h2>
  一摞
  <code>
   Python
  </code>
  风格的纸牌
 </h2>
 <p>
  在看《流畅Python》那本书的时候，第一章第一个小例子非常吸引人，具体代码如下
Python3 扑克牌
  <code>
   collections.namedtuple
  </code>
  这个函数可以快速创建一个只有属性的类，我们通过这个方法来创建一张扑克牌的类，rank 和 suit 分别代表牌面数值和花色
 </p>
 <pre><code>import collections
from random import choice
Card = collections.namedtuple('Card',['rank','suit'])
#创建一副扑克牌的类
class Cards:
    ranks = [str(n) for n in range(2,11)] + list('JQKA')#从2-10的数字
    suits = 'spades clubs diamonds clubs'.split()# 黑桃 方块 草花 红桃

    def __init__(self):
        '''创建一副扑克牌'''
        self._cards = [Card(rank,suit) for suit in self.suits
                                       for rank in self.ranks] + ['King','Queen']
    def __len__(self):
        return len(self._cards)
    def __getitem__(self,position):
        return self._cards[position]

deck = Cards()#创建一副扑克牌
print(len(deck))#打印有多少张
#打印所有纸牌
for i in range(len(deck)):
    print(deck[i])
print(choice(deck))#随机抽取一张纸牌
</code></pre>
 <p>
  我觉得这个纸牌的小例子很有意思，复习了类及列表推导等一些小概念。当然快速复习的小例子还有很多的，比如下边的例子
 </p>
 <h2>
  简单的复利计算
 </h2>
 <pre><code>p = 10000 #初始金额
rate = 0.04/365 #利率 例如余额宝的年化收益为4%，那么每天的这里计算每天的收益
days = 100

day = 1
while day &lt;= days :
    p = p * (1+rate)#复利，余额宝是每天的利滚利
    print('%s天：%2.2f' % (day,p)) #打印当前年份及金额
    day += 1
</code></pre>
 <p>
  通过以上三个小例子，是不是又引起了你对Python的兴趣？温故而知新，大家加油哦！
 </p>
 <h2>
  本文源码下载：
 </h2>
 <ul>
  <li>
   <a href="https://github.com/bosichong/17python.com/blob/master/ReviewPython.py">
    github
   </a>
  </li>
  <li>
   <a href="https://gitee.com/J_Sky/17python.com/blob/master/ReviewPython.py">
    开源中国码云镜像gitee
   </a>
  </li>
 </ul>
 <div class="blog-article">
  <h1 class="title">
   python中导入不同目录中的自定义模块/class/函数/方法
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2017-10-27 10:37:17
  </span>
  <span class="tag">
   Python基础
  </span>
 </div>
 <p>
 </p>
 <p>
  前几天在封装
  <code>
   PY_RPG
  </code>
  框架时，需要导入一些自定义的类、函数、常量的时候，发现始终找不到相关模块，后来参考书籍及网络上的一些经验终于解决了这个问题。
 </p>
 <h2>
  包和模块导入的需求
 </h2>
 <p>
  假设有一个项目，有a/a.py（此为工具类提供一些简单的方法和常量），b/b.py（需要调用a/a.py）项目文件，我们先在a.py中定义一些函数及常量一会引入使用。
 </p>
 <pre><code>M_TEST = 888
def print_text():
    print('这a.py下的一个打印文字函数')
</code></pre>
 <p>
  现在我们引入测试
 </p>
 <pre><code>import a.a
a.print_text()
</code></pre>
 <p>
  ModuleNotFoundError: No module named 'a'  很显然这样是找不到正确目录的，那么问题来了，
如果是在同一目录，我们直接
  <code>
   import a
  </code>
  就搞定了，但实际工作中我们不可能把所有文件都放在一个目录中，如果需要导入其它目录的中.py文件，这时我们就需要用到
  <code>
   sys.path.append()
  </code>
 </p>
 <pre><code>['/Users/mac/PycharmProjects/PythonStudy/b', '/Library/Frameworks/Python.framework/Versions/3.6/lib/python36.zip', '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6', '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/lib-dynload', '/Users/mac/Library/Python/3.6/lib/python/site-packages', '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages', '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/beautifulsoup4-4.6.0-py3.6.egg', '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/PyMySQL-0.7.11-py3.6.egg', '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/xadmin-0.6.1-py3.6.egg', '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/django_formtools-2.0-py3.6.egg']
</code></pre>
 <p>
  打印后，我们会发现很多目录，
  <code>
   python
  </code>
  加载包模块的目录就都在上边了，他会从这些目录中搜索需要加载内容的名称，如果有就加载进来。
那么我们如何把自己的文件加到上边的目录里？有几种方法：
 </p>
 <ul>
  <li>
   通过修改环境变量，这个不环保，而且文件多了，不可能都去修改。
  </li>
  <li>
   复制文件到上边的目录中，有些不方便，不推荐
  </li>
  <li>
   <code>
    sys.path.append()
   </code>
   把目录加进索引，方便python搜索，推荐
  </li>
 </ul>
 <p>
  那么我们来试试吧
 </p>
 <h2>
  如何优雅的获得目录地址？
 </h2>
 <p>
  如果需要把目录加进到索引中，我们只需要一个绝对地址即可，但是这种方法如果我们复制工程到其它目录后，我们还需要修改这个索引，很不方便不科学。
这时我想到了
  <code>
   Django
  </code>
  配置文件中有一段代码
 </p>
 <pre><code>BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))
</code></pre>
 <p>
  我们理解一下这段代码，
  <code>
   __file__
  </code>
  表示当前.py文件，
  <code>
   os.path.abspath(__file__)
  </code>
  表示当前.py文件的绝对地址，
  <code>
   dirname
  </code>
  获得上一层目录地址，
那么如果我们当前的文件在根目录下的一个目录下边，那么上条语句正好获得了根目录的地址。我们来打印试试
 </p>
 <pre><code>/Users/mac/PycharmProjects/PythonStudy/b/b.py
/Users/mac/PycharmProjects/PythonStudy/b
/Users/mac/PycharmProjects/PythonStudy
</code></pre>
 <p>
  可以看到根目录地址已经得到了，然后通过
  <code>
   os.path.join()
  </code>
  就可以拼装到工具类目录地址了，到这里我们的所有功能基本上可以实现了，具体实现请看下边的代码。
 </p>
 <pre><code>import os 
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))#获取根目录
print(os.path.abspath(__file__))
print(os.path.dirname(os.path.abspath(__file__)))
print(BASE_DIR)
T_DIR = os.path.join(BASE_DIR,'a')#拼装工具类地址
print(T_DIR)
sys.path.append(T_DIR)
import a
print(a.M_TEST)
a.print_text()
</code></pre>
 <h2>
  本文源码下载： a b 两个目录下为相关源文件
 </h2>
 <ul>
  <li>
   <a href="https://github.com/bosichong/17python.com/">
    github
   </a>
  </li>
  <li>
   <a href="https://gitee.com/J_Sky/17python.com/">
    开源中国码云镜像gitee
   </a>
  </li>
 </ul>
 <div class="blog-article">
  <h1 class="title">
   基于Python、Tk构建的可视化目录文件同步助手
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2017-10-26 15:04:15
  </span>
  <span class="tag">
   站长源创
  </span>
 </div>
 <p>
 </p>
 <p>
  之前用java GUI写过一个简单的目录同步助手，前几天在WIN10下边想用的时候，发现竟然无法使用了，正好最近在学习python，所以用python重写了一简单的目录文件同步助手。
 </p>
 <p>
  <img alt="输入图片说明" src="/assets/images/media/upload/2018/01/Snip20180109_24.png"/>
 </p>
 <h2>
  功能需求
 </h2>
 <p>
  之前有些喜欢拍照，但设备和场景比较多，所以每次照相回来，都为每台设备创建目录，然后在目录下边创建以时间为名的目录进行照片备份。
之后这个备份了几年，后来目录越来越多，经常发现无法准确的判断哪些照片是否备份过，因为实在太多了，所以，需要一个实际目录与备份目录比较，
并且能把比较后的结果复制到备份目录中进行备份。
 </p>
 <h2>
  需求分析
 </h2>
 <p>
  从需求上分析：参数需要给定两个目录，然后有比较和复制两个功能，GUI构建上只需要两个目录选择和两个按钮，使用Tk即可实现。
技术上实现采用python的 filecmp shutil os 进行一些目录及文件的比较及复制来实现需求。
 </p>
 <h2>
  逻辑分析
 </h2>
 <p>
  通过目录选择框获得了两个字符串，然后进行比较，分析出不同的目录与文件，然后复制到目标目录中。
为此，我创建了一个目录比较类，专门负责比较目录与文件。
此类中的比较方法中使用到了递归，Python中的递归记得最大是1000次，我觉得这个目录层次应该是够了吧？
其实本程序中，目录与文件的分析是重要部分：
 </p>
 <ul>
  <li>
   先判断根目录中不相同的目录与文件，然后分别记录。
  </li>
  <li>
   如果有相同的目录，使用递归比较这二个相同的目录。
  </li>
  <li>
   最后分别创建目录，复制文件到目标目录中。
  </li>
 </ul>
 <h2>
  Tk Button传参方法
 </h2>
 <p>
  在构建GUI的时候，点击按钮激活的函数需要传参数进去，但Python并没有在Button中提供传参的方法，后来查到可以使用lambda
 </p>
 <pre><code>command=lambda: def(参数1, 参数2)
</code></pre>
 <p>
  这样即可达到函数传参的实现。
 </p>
 <h2>
  目录与文件的操作
 </h2>
 <p>
  通过这个小软件的制作，达到了对python目录及文件的分析及创建复制的模块功能的复制，功能上还可以继续扩展，后续有需要再继续添加。
 </p>
 <h2>
  本文源码下载
 </h2>
 <ul>
  <li>
   <a href="https://github.com/bosichong/PyDirectoryComparison">
    github
   </a>
  </li>
  <li>
   <a href="https://gitee.com/J_Sky/PyDirectoryComparison">
    开源中国码云镜像gitee
   </a>
  </li>
 </ul>
 <div class="blog-article">
  <h1 class="title">
   “编学编玩”用Pygame编写游戏（5）pygame绘制一个钟表
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2017-10-23 15:51:11
  </span>
  <span class="tag">
   pygame
  </span>
 </div>
 <p>
 </p>
 <p>
  游戏中绘制圆及圆形的轨迹需求还是不少的，而且很多地方都需要用到圆及弧度的理论，如果想做些游戏的话，必须熟练掌握这些基本知识。
 </p>
 <h2>
  一些知识点
 </h2>
 <ul>
  <li>
   radius 圆的半径
  </li>
  <li>
   diameter 圆的直径
  </li>
  <li>
   angle 角度
  </li>
  <li>
   一个圆的完整的弧度 PI*2=6.28
  </li>
  <li>
   1弧度的角度值为 360/6.28=57.3248
  </li>
  <li>
   1度的弧度值为 6.28/360=0.0174
  </li>
  <li>
   math.degrees(x)将角度x从弧度转换为度。
  </li>
  <li>
   math.radians(x)将角度x从度转换为弧度。
  </li>
  <li>
   math.sin(x)返回x弧度的正弦值。
  </li>
  <li>
   math.cos(x)返回x弧度的余弦值。
  </li>
 </ul>
 <h2>
  圆周上点的坐标
 </h2>
 <pre><code>x = math.cos(math.radians(angle)) * (radius)
y = math.sin(math.radians(angle)) * (radius）
</code></pre>
 <p>
  如果不想深入了解的话，只需要记住，我们需要角度，即可求得圆周上的坐标值，对就上边的函数解释应该可以理解上边的python语句的含意。
 </p>
 <h2>
  实例
 </h2>
 <p>
  没有比绘制一个表盘更贴近实际需求的例子了，通过pythondatetime函数，我们可以很方便的获得时间，然后转换成相关数据。
 </p>
 <p>
  以下为游戏效果图，建议下载相关代码跑一下，有问题可以留言给我。
 </p>
 <p>
  <img alt="输入图片说明" src="/assets/images/media/upload/2017/10/Snip20171023_1.png"/>
 </p>
 <h2>
  本文源码下载
 </h2>
 <p>
  请git clone 下所有代码，以免造成游戏跑不起来的情况。本例源文件pygame05.py
 </p>
 <ul>
  <li>
   <a href="https://github.com/bosichong/My_pygame/">
    github
   </a>
  </li>
  <li>
   <a href="https://gitee.com/J_Sky/My_pygame/">
    开源中国码云镜像gitee
   </a>
  </li>
 </ul>
 <div class="spage">
  <div aria-label="Basic example" class="pagination pagination4 btn-group" id="suiyanpage" role="group">
   <a href="/list/list_7.html">
    <button class="prev btn btn-primary" type="button">
     Previous
    </button>
   </a>
   <button class="page btn btn-primary" type="button">
    8 / 15
   </button>
   <a href="/list/list_9.html">
    <button class="next btn btn-primary" type="button">
     Next
    </button>
   </a>
  </div>
 </div>
</div>
   </section>
   <script src="/assets/plugins/jquery-3.3.1.min.js">
   </script>
   <!-- Javascript -->
   <script src="/assets/plugins/bootstrap/js/bootstrap.min.js">
   </script>
   <footer class="footer text-center py-2 theme-bg-dark">
    <div class="card text-center">
     <div class="card-body">
      <p>
       <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="license" target="_blank">
        <img src="https://licensebuttons.net/l/by-nc-sa/4.0/80x15.png" style="border-width:0"/>
       </a>
      </p>
      <p class="am-text-sm am-text-center">
       <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="license" target="_blank">
        本站采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可。
       </a>
      </p>
      <p>
       Powered by
       <a href="https://gitee.com/J_Sky/suiyan">
        SuiYan
       </a>
       | by J.sky
       <small>
        Copyright
        <i aria-hidden="true" class="fa fa-copyright">
        </i>
        2017-2020 碎言博客
       </small>
      </p>
     </div>
    </div>
    <!-- Scroll to Top button selector -->
    <a class="to-top">
     <i aria-hidden="true" class="fa fa-chevron-up fa-3">
     </i>
    </a>
    <script src="/assets/plugins/jquery.toTop.min.js">
    </script>
    <script>
     jQuery(function($){
            // Plugin activation (basic - with all default values)
            // $('.to-top').toTop();

            // Plugin activation with options
            $('.to-top').toTop({
                //options with default values
                autohide: true,  //boolean 'true' or 'false'
                offset: 420,     //numeric value (as pixels) for scrolling length from top to hide automatically
                speed: 500,      //numeric value (as mili-seconds) for duration
                position:true,   //boolean 'true' or 'false'. Set this 'false' if you want to add custom position with your own css
                right: 15,       //numeric value (as pixels) for position from right. It will work only if the 'position' is set 'true'
                bottom: 30       //numeric value (as pixels) for position from bottom. It will work only if the 'position' is set 'true'
            });
        });
    </script>
    <!-- 搜索模态对话框。 -->
    <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg" role="dialog" tabindex="-1">
     <div class="modal-dialog modal-lg">
      <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
         搜索结果
        </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
         <span aria-hidden="true">
          ×
         </span>
        </button>
       </div>
       <div class="modal-body">
        <ul class="search-list car-list navbar-nav">
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- 站点自定义JS -->
    <script src="/assets/js/build/index.js">
    </script>
    <!-- highlight.js Markdown代码美化 -->
    <script src="/assets/plugins/highlight/highlight.pack.js">
    </script>
    <script>
     hljs.initHighlightingOnLoad();
    </script>
   </footer>
  </div>
  <!--//main-wrapper-->
 </body>
</html>