<!DOCTYPE html>
<html lang="en">
 <head>
  <!-- Meta -->
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   碎言博客碎言博客
  </title>
  <meta content="Python,Django,JavaScript,程序员,人生苦短,我用Python" name="keywords"/>
  <meta content=" Python Django JavaScript 学习讨论,我们是一群热爱Python的程序员，人生苦短，我用JavaScript！一个不会JavaScript的Python开发者不是一个好网管。" name="description"/>
  <meta content="J.sky" name="author"/>
  <link href="/assets/images/favicon.ico" rel="shortcut icon"/>
  <!-- CSS -->
  <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="/assets/css/theme-dark-1.css" id="blogcss" rel="stylesheet" type="text/css"/>
  <!-- highlight.js Markdown代码美化 -->
  <link href="/assets/plugins/highlight/styles/atom-one-dark.css" id="highlight" rel="stylesheet"/>
 </head>
 <body>
  <header class="header text-center">
   <h1 class="blog-name pt-lg-4 mb-0 hide">
    <a href="index.html">
     碎言博客
    </a>
   </h1>
   <nav class="navbar navbar-expand-lg navbar-dark" id="blog-nav">
    <button aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navigation" data-toggle="collapse" type="button">
     <i aria-hidden="true" class="fa fa-bars fa-lg">
     </i>
    </button>
    <div class="collapse navbar-collapse flex-column" id="navigation">
     <div class="profile-section pt-3 pt-lg-0">
      <img class="profile-image mb-3 rounded-circle mx-auto hide" height="160px" src="/assets/images/touxiang.jpg" width="160px"/>
      <div class="blog-description mb-3 hide">
       You see see you , This one day day di.
      </div>
      <!--//sns-->
      <ul class="social-list list-inline py-3 mx-auto">
       <li>
        <a class="hide" href="https://github.com/bosichong/suiyan" target="blank_blank">
         <i class="fa fa-github fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://gitee.com/J_Sky/suiyan" target="blank_blank">
         <i class="fa fa-git fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://weibo.com/qq285911" target="blank_blank">
         <i class="fa fa-weibo fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://user.qzone.qq.com/285911/" target="blank_blank">
         <i class="fa fa-qq fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://www.zhihu.com/people/J_sky/activities" target="blank_blank">
         <i class="fa fa-book fa-lg">
         </i>
        </a>
       </li>
      </ul>
      <!--//social-list-->
      <hr/>
     </div>
     <!--//profile-section-->
     <ul class="blog-nav navbar-nav flex-column text-left">
      <li class="nav-item hide">
       <a class="nav-link" href="/index.html">
        <span>
         <i class="fa fa-home fa-lg">
         </i>
         Blog Home
        </span>
       </a>
      </li>
      <li class="nav-item hide">
       <a class="nav-link" href="/archives.html">
        <span>
         <i class="fa fa-archive fa-lg">
         </i>
         Blog Archive
        </span>
       </a>
      </li>
      <li class="nav-item hide">
       <a class="nav-link" href="/tags.html">
        <span>
         <i class="fa fa-tags fa-lg">
         </i>
         Blog Tag
        </span>
       </a>
      </li>
      <li class="nav-item hide">
       <a class="nav-link" href="/blog/aboutme.html">
        <span>
         <i class="fa fa-user fa-lg">
         </i>
         About Me
        </span>
       </a>
      </li>
     </ul>
     <form class="sform hide">
      <div class="form-row">
       <div class="form-group col-md-8">
        <input class="form-control" id="skey" placeholder="JavaScript" type="text"/>
       </div>
       <div class="form-group col-md-3">
        <button class="search btn btn-primary" data-target=".bd-example-modal-lg" data-toggle="modal" type="button">
         Search
        </button>
       </div>
      </div>
     </form>
     <a href="https://www.aliyun.com/sale-season/2020/procurement-new-members?userCode=cnafsz3c" target="_blank">
      <img alt="【采购季】上云仅¥223/3年" class="img-fluid" src="/assets/images/ad/320X100.jpg"/>
     </a>
    </div>
   </nav>
  </header>
  <div class="main-wrapper">
   <section class="blog-list px-3 py-5 p-md-5">
<div class="data-list list-group">
 <div class="blog-article">
  <h1 class="title">
   wxPython编程学习笔记(01)Frame程序的窗口
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2018-12-18 19:42:47
  </span>
  <span class="tag">
   Python GUI
  </span>
 </div>
 <p>
 </p>
 <h2>
  简介
 </h2>
 <p>
  之前的一些小应用都是用的
  <code>
   python tk
  </code>
  来写的，后来发现tk的组件确实有些简单，满足不了程序越来越复杂的界面需求，所以决定学习一下
  <code>
   wxPython
  </code>
  <code>
   wxPython
  </code>
  是一个
  <code>
   Python
  </code>
  包装
  <code>
   wxWidgets
  </code>
  （这是用 C++ 编写），一个流行的跨平台GUI工具包。由Robin Dunn以及Harri Pasanen开发，
  <code>
   wxPython
  </code>
  是作为一个
  <code>
   Python
  </code>
  扩展模块。
 </p>
 <h2>
  wxPython的安装
 </h2>
 <pre><code>pip3 install wxPython
</code></pre>
 <p>
  如果网络不太好，可以到官网下载进行安装，官方网址：
  <code>
   https://wxpython.org/
  </code>
 </p>
 <h2>
  Frame 窗口
 </h2>
 <p>
  <img alt="输入图片说明" src="/assets/images/media/upload/2018/12/Snip20181218_12.png"/>
 </p>
 <p>
  如果我们开始构建一个桌面程序，不妨从一个窗口开始，比如先创建一个
  <code>
   Frame
  </code>
  .
 </p>
 <p>
  <code>
   Wx.Frame (parent, id, title, pos, size, style, name)
  </code>
 </p>
 <p>
  其中的参数含意如下：
 </p>
 <p>
  Parent 窗口的父类。如果“None”被选择的对象是在顶层窗口。如果“None”未被选择时，所述框显示在父窗口的顶层
id 窗口标识。通常-1为了让标识符自动生成
Title 标题出现在标题栏
Pos 帧(frame)的开始位置。如果没有给出，wxDefaultPosition是由操作系统决定
Size 窗口的尺寸。 wxDefaultSize 是由操作系统决定
style 窗口的外观按样式风格常数控制
name 对象的内部名称
 </p>
 <h2>
  wxPython hello world
 </h2>
 <p>
  我们通过继承wx.Frame来创建自己的主窗口，然后再构建方法
  <code>
   __init__
  </code>
  中创建窗口中的部件。
  <code>
   main()
  </code>
  方法中，我们创建一个app，创建一个我们构建的窗口类，就可以展示出来一个窗口了。
 </p>
 <p>
  怎么样，很简单吧？
 </p>
 <pre><code>import wx
class HelloFrame(wx.Frame):
    def __init__(self, *args, **kw):
        #调用父类的创建方法
        super(HelloFrame, self).__init__(*args, **kw)
        #创建一个面板窗口，panel 是用来放置各种小部件的面板，通常内置于Frame内部
        pl = wx.Panel(self)
        #创建一个静态文本
        st = wx.StaticText(pl,label= "Hello world!!", pos=(20,20))
        font = st.GetFont()
        font.PointSize += 20
        font = font.Bold()
        st.SetFont(font)


def main():
    app = wx.App()
    frm = HelloFrame(None, title='Hello World wxPython 窗口练习')
    frm.Show()#显示窗口
    app.MainLoop()#持续更新窗口


if __name__ == '__main__':
    main()
</code></pre>
 <h2>
  本文源码下载：
 </h2>
 <ul>
  <li>
   <a href="https://github.com/bosichong/wxPythonTest/blob/master/wxpy01.py">
    github
   </a>
  </li>
  <li>
   <a href="https://gitee.com/J_Sky/wxPythonTest/blob/master/wxpy01.py">
    开源中国码云镜像gitee
   </a>
  </li>
 </ul>
 <div class="blog-article">
  <h1 class="title">
   Python os.path.dirname(__file__) 在终端命令行下报错
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2018-11-21 22:16:58
  </span>
  <span class="tag">
   Python基础
  </span>
 </div>
 <p>
 </p>
 <p>
  最近在写程序中用到了
  <code>
   os.path.dirname(__file__)
  </code>
  ，在PyCharm中启动程序调试的时候，是没有问题的，但是如果在终端命令行下运行程序时就会报错
 </p>
 <pre><code>FileNotFoundError: [Errno 2] No such file or directory
</code></pre>
 <p>
  我们先来测试一下，看看报错是什么样的？
 </p>
 <pre><code>print(os.path.dirname(__file__))
</code></pre>
 <p>
  如果在终端运行当前程序就会报错：
 </p>
 <pre><code>&gt;&gt;&gt; print(os.path.dirname(__file__))
Traceback (most recent call last):
File "&lt;stdin&gt;", line 1, in &lt;module&gt;
NameError: name 'os' is not defined
</code></pre>
 <p>
  如何使之正确运行呢？如果你用过
  <code>
   Django
  </code>
  ，就会想到
  <code>
   BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))
  </code>
  ,
这个是
  <code>
   Django
  </code>
  里用来定义当前文件所属目录的一行代码，后来我查询了一下，其中
  <code>
   os.path.abspath(__file__)
  </code>
  这条是返回当前文件的绝对地址，
而
  <code>
   os.path.dirname(os.path.abspath(__file__))
  </code>
  就是返回当前文件所在的目录的绝对地址，这样我们就轻松的得到当前文件所属目录了。
困扰人生的小问题就这样绝对喽！
 </p>
 <h2>
  本文源码下载：
 </h2>
 <ul>
  <li>
   <a href="https://github.com/bosichong/17python.com/blob/master/io/ospathabspath.py">
    github
   </a>
  </li>
  <li>
   <a href="https://gitee.com/J_Sky/17python.com/blob/master/io/ospathabspath.py">
    开源中国码云镜像gitee
   </a>
  </li>
 </ul>
 <div class="blog-article">
  <h1 class="title">
   MyDjangoBlog是基于Django搭建的个人blog
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2018-11-20 08:55:16
  </span>
  <span class="tag">
   站长源创
  </span>
 </div>
 <p>
 </p>
 <p>
  开心Python Django 学习交流q群：217840699
 </p>
 <p>
  一个简易易用的blog，基于以下技术构建
 </p>
 <ul>
  <li>
   Python
  </li>
  <li>
   Django
  </li>
  <li>
   Amaze UI
  </li>
  <li>
   SQLite3
  </li>
  <li>
   highlight.js
  </li>
 </ul>
 <p>
  后台基于Django admin搭建。
 </p>
 <p>
  展示如下图，
  <a href="http://www.17python.com">
   点击博客
  </a>
  查看在线演示效果
 </p>
 <p>
  <img alt="输入图片说明" src="https://images.gitee.com/uploads/images/2018/1116/201630_6f5d34a4_125848.png" title="001.png"/>
 </p>
 <p>
  <img alt="输入图片说明" src="https://images.gitee.com/uploads/images/2018/1116/204359_4d1b64ee_125848.png" title="002.png"/>
 </p>
 <h1>
  本地调试
 </h1>
 <p>
  环境需求：
 </p>
 <p>
  python (3.6.1)
Django (1.11.3)
Markdown (2.6.8)
Pillow (4.2.1)
 </p>
 <p>
  进入程序目录后，运行
  <code>
   python3 manage.py runserver
  </code>
 </p>
 <p>
  后台管理地址
  <code>
   http://127.0.0.1:8000/admin/
  </code>
 </p>
 <p>
  管理员登陆:
 </p>
 <p>
  用户名：
  <code>
   admin
  </code>
  密码：
  <code>
   17python.com
  </code>
 </p>
 <p>
  前台地址
  <code>
   http://127.0.0.1:8000/
  </code>
 </p>
 <p>
  如果想在部署到生产环境，
  <a href="http://www.17python.com/blog/67">
   请点此查看详细教程
  </a>
 </p>
 <p>
  欢迎有识之士参与提交代码，大家共同学习共同进步！
 </p>
 <p>
  开心Python Django 学习交流q群：217840699
 </p>
 <h2>
  本文源码下载：
 </h2>
 <ul>
  <li>
   <a href="https://github.com/bosichong/www.17python.com">
    github
   </a>
  </li>
  <li>
   <a href="https://gitee.com/J_Sky/17python">
    开源中国码云镜像gitee
   </a>
  </li>
 </ul>
 <div class="blog-article">
  <h1 class="title">
   Git多人协作（码云）中的一些操作简单记录
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2018-10-28 14:24:15
  </span>
  <span class="tag">
   Git
  </span>
 </div>
 <p>
 </p>
 <p>
  最近和一个帅哥共同开发一个小项目，期间需要使用Git协作开发，之前是个人使用Git进行一些简单的提交，与他人Git协作算是头一回，记录下一些操作备查。
 </p>
 <p>
  我们模拟一个项目的多人Git协作，假设多人合作至少二人，并且添加合作人员进入项目为开发者以上权限。远程代码仓库以码云'gitee.com'为例:
 </p>
 <h2>
  创建远程代码仓库和本地仓库。
 </h2>
 <ul>
  <li>
   选择码云在线创建代码仓库很方便，我们直接在线创建一个master和dev两条分支（很简单，这里不截图了）。
  </li>
  <li>
   创建本地代码仓库与远程关联：1.利用'git clone XXXXXXX'下载到本地，即可关联仓库。
  </li>
  <li>
   但是远端的dev分支并没有下载来，我们新建本地分支dev并进入，然后pull远程分支.
   <pre><code>➜  test git:(master) git branch 
* master
➜  test git:(master) git checkout -b dev
Switched to a new branch 'dev'
➜  test git:(dev) git pull origin dev   
From https://gitee.com/bosichong/test
* branch            dev        -&gt; FETCH_HEAD
Already up-to-date.
➜  test git:(dev) git branch 
* dev
master
</code></pre>
  </li>
 </ul>
 <p>
  这样的话我们的本地库与远程代码仓库相关联了。
 </p>
 <h2>
  如何协作更新代码？
 </h2>
 <p>
  远程master是主分支，一般由专人负责提交更新版本即可，我们主要是在dev这样的分支上进行更新操作，当程序更新到一定程序后，合并到master中发布一个版本。
模拟一次git协作：
假设需要研发一个人工智能编码器，我和我的小伙们都在进行编码，我在分支aicode仓库中ai.py编写了大量的代码并完成需要上传远程仓库dev。
首先我把aicode分支全并到本地的dev,然后上传到远程dev仓库。
 </p>
 <pre><code>➜  test git:(dev) git checkout -b aicode
Switched to a new branch 'aicode'
➜  test git:(aicode) touch ai.py
➜  test git:(aicode) ✗ vi ai.py 
➜  test git:(aicode) ✗ git add .
➜  test git:(aicode) ✗ git commit -m 'aicode功能更新'
[aicode a1e0b50] aicode功能更新
1 file changed, 2 insertions(+)
create mode 100644 ai.py
➜  test git:(aicode) git checkout dev 
Switched to branch 'dev'
➜  test git:(dev) git merge aicode 
Updating 8fcac3b..a1e0b50
Fast-forward
ai.py | 2 ++
1 file changed, 2 insertions(+)
create mode 100644 ai.py
➜  test git:(dev) git push origin dev  
Counting objects: 3, done.
Delta compression using up to 8 threads.
Compressing objects: 100% (2/2), done.
Writing objects: 100% (3/3), 298 bytes | 298.00 KiB/s, done.
Total 3 (delta 0), reused 0 (delta 0)
remote: Powered by Gitee.com
To https://gitee.com/bosichong/test.git
8fcac3b..a1e0b50  dev -&gt; dev
</code></pre>
 <p>
  这样我就完成了一次更新，其实挺简单的。
 </p>
 <h2>
  发生冲突怎么办？
 </h2>
 <p>
  有一次我和我的小伙伴都在更新readme.md，他负责前半部我负责后半部分，但是他明显比我快，先进行了版本提交，而我刚刚弄完，现在要提交了，当我提交dev分支到远程的时候终端提示如下：
 </p>
 <pre><code>To https://gitee.com/bosichong/test.git
! [rejected]        dev -&gt; dev (fetch first)
error: failed to push some refs to 'https://gitee.com/bosichong/test.git'
hint: Updates were rejected because the remote contains work that you do
hint: not have locally. This is usually caused by another repository pushing
hint: to the same ref. You may want to first integrate the remote changes
hint: (e.g., 'git pull ...') before pushing again.
hint: See the 'Note about fast-forwards' in 'git push --help' for details.
</code></pre>
 <p>
  大体意思是：远程的版本比你现在的要新，你需要先下载更新一下，然后再提交。好吧，我先更新一下dev版本，pull下来。
然后再pull的时候提示如下：
 </p>
 <pre><code>* branch            dev        -&gt; FETCH_HEAD
99ccc9c..4c49e33  dev        -&gt; origin/dev
Auto-merging README.md
CONFLICT (content): Merge conflict in README.md
Automatic merge failed; fix conflicts and then commit the result.
</code></pre>
 <p>
  大体意思是文件已经pull下来了，但是两个文件有冲突，必须先处理冲突，并告诉你冲突文件是readme.md。
我们解决一下文件中的冲突内容：
 </p>
 <pre><code>&lt;&lt;&lt;&lt;&lt;&lt;&lt; HEAD
我更新的下半部分啊
=======
小伙伴更新的上半部分
&gt;&gt;&gt;&gt;&gt;&gt;&gt; 4c49e33af00dd498b2d4761d3fc607ee29afbdf4
</code></pre>
 <p>
  这里我这样的修改的：
 </p>
 <pre><code>小伙伴更新的上半部分
我更新的下半部分啊
</code></pre>
 <p>
  处理解决后，就可以提交更新dev到远程的仓库了。从此以后就可以和小伙伴们开心的编码了。
 </p>
 <p>
  遇到问题：
1.今天小伙伴更新dev分支，但我怎么也pull不来，提示如下：
 </p>
 <pre><code>Updating e32f487..204c0a1
error: Your local changes to the following files would be overwritten by merge:
    Psmrcddup.py
Please commit your changes or stash them before you merge.
</code></pre>
 <p>
  解决方法：
 </p>
 <pre><code>➜  PrimarySchoolMath git:(dev) ✗ git checkout -f
➜  PrimarySchoolMath git:(dev) git pull gitee dev
</code></pre>
 <h2>
  分支策略
 </h2>
 <p>
  在实际开发中，我们应该按照几个基本原则进行分支管理：
 </p>
 <p>
  首先，master分支应该是非常稳定的，也就是仅用来发布新版本，平时不能在上面干活；
 </p>
 <p>
  那在哪干活呢？干活都从dev分支再创建一条分支在开工，完成后，再合并到本地dev并更新到远端dev，也就是说，dev分支是不稳定的，到某个时候，比如1.0版本发布时，再把dev分支合并到master上，在master分支发布1.0版本。
 </p>
 <p>
  你和你的小伙伴们每个人都在dev分支上干活，每个人都有自己的分支，时不时地往dev分支上合并就可以了。
 </p>
 <p>
  所以，团队合作的分支看起来就像这样：
 </p>
 <p>
  <img alt="输入图片说明" src="/assets/images/media/upload/2018/10/0.png"/>
 </p>
 <p>
  一些常用协作git命令：
 </p>
 <pre><code>查看分支：git branch
创建分支：git branch &lt;name&gt;
切换分支：git checkout &lt;name&gt;
创建+切换分支：git checkout -b &lt;name&gt;
合并某分支到当前分支：git merge &lt;name&gt;
删除分支：git branch -d &lt;name&gt;
git remote 显示 远程仓库的分支
git remote -v 显示更详细的信息：
</code></pre>
 <h2>
  相关文章
 </h2>
 <ul>
  <li>
   <a href="https://github.com/bosichong/PrimarySchoolMathematics">
    廖雪峰：git多人协作
   </a>
  </li>
 </ul>
 <div class="blog-article">
  <h1 class="title">
   利用Python自动生成小学生加减乘除口算考试题卷。
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2018-10-24 10:50:04
  </span>
  <span class="tag">
   站长源创
  </span>
 </div>
 <p>
 </p>
 <p>
  孩子上小学一年级了，加减乘除的口算就要开始练习了，估计老师肯定会让家长出题，所以提前准备一下，利用Python开发了一套自动生成小学生口算题的小应用。而且今天是程序员节，撸200行代码庆祝一下。：）
 </p>
 <p>
  为了让程序员老爹解放抄题的双手，让你拥有更多的时间去写代码而不用去手写几道口算题而伤神伤脑。所以有没有娃子的程序员爹爹加入一起来继续优化个开源小程序的？有什么点子，发现什么BUG，欢迎留言。
 </p>
 <p>
  仅以此软件，献给那些热爱
  <code>
   Python
  </code>
  的程序员老爹们！
 </p>
 <p>
  程序核心功能：
 </p>
 <p>
  1.可以设置各算数项和结果的取值范围及多步算数符号的选择，可以生成求结果、求算数项、带括号的算式，最多支持3步算式题
 </p>
 <p>
  2.可以简单设置文档标题，小标题。设置生成的口算题文档个数
 </p>
 <p>
  使用方法：
 </p>
 <p>
  1 确定本机支持python3.6.1以上版本
 </p>
 <p>
  2 安装.docx模块,安装wxPython模块 安装方法：
 </p>
 <p>
  <code>
   pip3 install python-docx
  </code>
 </p>
 <p>
  <code>
   pip3 install wxpython
  </code>
 </p>
 <p>
  3 下载程序进入主目录，终端下运行
  <code>
   python App.py
  </code>
 </p>
 <p>
  4 修改运算项和结果范围里的数值,多步运算请添加修改需要的运算符号:
 </p>
 <p>
  5 添加口算题到列表中，然后生成口算题,生成的口算题文件都在docx文件目录下，打开后连接打印机就可以开印了。
 </p>
 <h2>
  源码下载：
 </h2>
 <ul>
  <li>
   <a href="https://github.com/bosichong/PrimarySchoolMathematics">
    github
   </a>
  </li>
  <li>
   <a href="https://gitee.com/J_Sky/PrimarySchoolMathematics">
    开源中国码云镜像gitee
   </a>
  </li>
 </ul>
 <div class="blog-article">
  <h1 class="title">
   有时人生需要做出选择
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2018-06-12 10:05:40
  </span>
  <span class="tag">
   站长吐槽
  </span>
 </div>
 <p>
 </p>
 <p>
  好久没有更新自己的博客了，最近经历了很多变动，所以人生的规划也发生了一些微妙的变化。
 </p>
 <p>
  这段日子没怎么看编程相关的书，今天随便看了一下，python已经是3.6.5，django也是2.0.6的版本了，想想自己前一阵学习py及django的时候，机器上的环境还是3.61和1.1X版.。。。
 </p>
 <p>
  更新了一下站点的头部图片，上次更新时还是冬天的。。。。
 </p>
 <p>
  可能暂时要放下编程了，是放下不是放弃，不久的以后我还会捡起来，因为我还有一个做游戏的梦想还未实现。想起30岁的时候开始学习编程，40而终，这些年没做成什么太出色的软件，但也因为代码养家糊了口饭，想想也算是值了，人生总是再变动，曾经看到过一篇文章介绍过，程序员黑客和画家很相似，所以那天拿起笔来就画了几个月感觉还不错，我能否再用10年成就一个插画师的梦想？
 </p>
 <p>
  为自己加油！
 </p>
 <p>
  感谢曾经路过17python网友，这个站点暂时还不会关闭，但内容也许有些改变，python还会继续，但可能会慢了一些，但我还会在学习python的路上前进的。
 </p>
 <div class="blog-article">
  <h1 class="title">
   实战：利用Django开发部署自己的个人博客（18）博客的Robots与sitemap.xml
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2018-03-16 14:28:35
  </span>
  <span class="tag">
   Django
  </span>
 </div>
 <p>
 </p>
 <p>
  好久没有更新blog了，想了很多理由来解释，看转念一想也没有多少人看这些无聊的东西，所以解释也是多余的哈：）
网站的
  <code>
   Robots
  </code>
  与
  <code>
   sitemap.xml
  </code>
  大家都知道不？这二个都是与搜索引擎有关的，如果你很重视SEO，那么你的blog应该有这二个文件。
 </p>
 <h2>
  Robots的实现
 </h2>
 <p>
  <code>
   Robots.txt
  </code>
  就是一个文本，如果你对搜索引擎收录没有拒绝，那个这个文件的能容很简单的：
1.设置一条路由：
 </p>
 <pre><code>url(r'^robots\.txt$', v.robots), #robots
</code></pre>
 <p>
  2.在视图中添加一个方法对应路由：
 </p>
 <pre><code># robots
def robots(request):
    return HttpResponse('User-agent: *')
</code></pre>
 <p>
  我们的目的很简单，就是要输出一行简短的字符串：
  <code>
   User-agent: *
  </code>
  ，用来告诉搜索引擎：来吧，请收录我，我是没有任何拒绝的！
 </p>
 <p>
  运行服务器，在地址栏中输入
  <code>
   http://127.0.0.1:8000/robots.txt
  </code>
  打开后即可看到显示内容为：
  <code>
   User-agent: *
  </code>
  好了，
  <code>
   blog的Robots
  </code>
  实现完成。
 </p>
 <h2>
  sitemap.xml的实现
 </h2>
 <p>
  <code>
   sitemap.xml
  </code>
  主要用来告诉搜索引擎我的网站有哪些网页，列了一个xml清单，你可以收录了。
本代码生成的
  <code>
   sitemap.xml
  </code>
  是根据百度的站长帮助提供的资料生成的，同时也符合搜索引擎的sitemap.xml规则。
 </p>
 <p>
  先看一下
  <code>
   sitemap.xml
  </code>
  文件需要哪些内容：
 </p>
 <pre><code>&lt;url&gt;
&lt;loc&gt;http://www.17python.com/blog/80&lt;/loc&gt;
&lt;lastmod&gt;2018-02-07&lt;/lastmod&gt;
&lt;changefreq&gt;daily&lt;/changefreq&gt;
&lt;priority&gt;0.8&lt;/priority&gt;
&lt;/url&gt;
</code></pre>
 <p>
  上边是
  <code>
   sitemap.xml
  </code>
  中的一条，我们只要关注其中的url与博文创建的时间即可，其余的只要和代码中的一样就行，当然，如果你非得要了解，可以看看百度站长站的帮助。
 </p>
 <ol>
  <li>
   <p>
    创建URL路由，不解释：
   </p>
   <h1>
    sitemaps url设置
   </h1>
   <p>
    url(r'^sitemap.xml$', v.sitemap),
   </p>
  </li>
 </ol>
 <p>
  2.视图文件中的实现方法：
 </p>
 <pre><code># sitemap 文件生成
def sitemap(request):
    articles = Article.objects.filter(article_type='2').order_by('-article_create_time')
    return render(request, 'sitemap.html', {'articles':articles}, content_type="text/xml")
</code></pre>
 <p>
  3.创建一个模板文件内容如下：
 </p>
 <pre><code>&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;urlset&gt;
    {% for ac in articles %}
    &lt;url&gt;
        &lt;loc&gt;http://www.17python.com/blog/{{ ac.id }}&lt;/loc&gt;
        &lt;lastmod&gt;{{ ac.update_time | date:"Y-m-d" }}&lt;/lastmod&gt;
        &lt;changefreq&gt;daily&lt;/changefreq&gt;
        &lt;priority&gt;0.8&lt;/priority&gt;
    &lt;/url&gt;
    {% endfor %}
&lt;/urlset&gt;
</code></pre>
 <p>
  记得把网址换成自己的，另外
  <code>
   lastmod
  </code>
  节点表示此博文最后的更新时间，这样搜索引擎就可以根据这个时间更新快照了。
都添加完毕后，测试一下
  <code>
   http://127.0.0.1:8000/sitemap.xml
  </code>
  网页中应该显示着你的所有博文生成的XML文件。
 </p>
 <h2>
  本文源码下载：
 </h2>
 <ul>
  <li>
   <a href="https://github.com/bosichong/17python.com/tree/master/Django">
    github
   </a>
  </li>
  <li>
   <a href="https://gitee.com/J_Sky/17python.com/tree/master/Django">
    开源中国码云镜像gitee
   </a>
  </li>
 </ul>
 <div class="blog-article">
  <h1 class="title">
   实战：利用Django开发部署自己的个人博客（17）博客标签云随机显示
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2018-02-07 10:35:11
  </span>
  <span class="tag">
   Django
  </span>
 </div>
 <p>
 </p>
 <p>
  断断续续，
  <code>
   Django
  </code>
  博客实战教程进展很慢，也不知道有没有人看，最近身体有些不适休息了段时间，这几天刚刚有些恢复，看来人生还得继续。
人总是在不断的进步不断的思考不断的变化，前一阵觉得非常有意义感兴趣的事，经过一段时间的沉淀就会有新的想法，或许某天，我会翻看之前写过的那些博文，
会不会有种冲动？我是谁，写了些什么？
 </p>
 <p>
  不过人生还得继续，今天我们继续了解博客中云标签的实现，具体请看下图：
 </p>
 <p>
  <img alt="输入图片说明" src="/assets/images/media/upload/2018/02/Snip20180207_1.png"/>
 </p>
 <h2>
  云标签需求
 </h2>
 <p>
  在写博客的时候我们通常会每篇博客定义一些标签，方便通过这些标签搜索到相关的博文，一般这些标签会在首页及文章下边展示，今天我们要实现的是全站显示的标签云。
 </p>
 <h2>
  云标签的实现
 </h2>
 <p>
  因为我们在录入文章的时候，已经输入了每篇文章的标签，我们只需要搜索出这些标签加以归纳，然后在需要的地方展示即可。
标签的存储应该有很多种方式，比较常见的有：保存为一张表，为每个标签定义相关的属性；另一种是只直接在文章表中定义为一个字段进行存储。
这里我采用的是第二种方式，在文章表中建了一个字段用来保存每篇文章的标签。
 </p>
 <p>
  当前我们的博客中文章表里还没有标签这个字段，我们添加一下：
 </p>
 <pre><code>tag = models.CharField(max_length=50, verbose_name=u'日志标签', default='')
</code></pre>
 <p>
  然后更新一下数据库，添加更新一些标签一会要用到。如何更新数据库请参考之前的文章进行相关操作。
 </p>
 <h2>
  编写代码
 </h2>
 <p>
  我们有了数据，就可以进行统计筛选了，因为是全站显示，所以我们需要在
  <code>
   Django
  </code>
  的上下文管理器中进行代码编写。
 </p>
 <p>
  1.首先获得所有文章中的标签数据
 </p>
 <p>
  在上下文
  <code>
   blog_context.py
  </code>
  中编写代码：
 </p>
 <pre><code>l = Article.objects.values("tag")#获得所有文章的标签
tags = []#所有标签数据
#清洗数据，把重复的去除
for k in l :
    tlist = k["tag"].split(' ')
    for item in tlist:
        if item not in tags:
            tags.append(item)#加入list

shuffle(tags)#重新洗牌，随机显示
#定义TAGcss的样式，用来随机显示背景颜色
tagcss =['am-radius','am-badge-primary','am-badge-secondary','am-badge-success','am-badge-warning','am-badge-danger']
</code></pre>
 <p>
  这样，我们就把数据通过上下文管理员提交给前端了，然后我们在前端进行渲染。
 </p>
 <h2>
  前端渲染云标签
 </h2>
 <p>
  在
  <code>
   base.html
  </code>
  右边导航中添加如下代码：
 </p>
 <pre><code>&lt;!-- 标签云 --&gt;
  &lt;section class="am-panel am-panel-default"&gt;
    &lt;div class="am-panel-hd"&gt;标签云&lt;/div&gt;
    &lt;div class="am-panel-bd"&gt;
      {% for tag in alltags %}
      &lt;a href="{% url '' %}?t={{ tag }}" class="am-badge {{ tagcss | random }}"&gt;{{ tag }}&lt;/a&gt;
      {% endfor %}
    &lt;/div&gt;
  &lt;/section&gt;
</code></pre>
 <p>
  刷新网页会看到如下效果：
 </p>
 <p>
  <img alt="输入图片说明" src="/assets/images/media/upload/2018/02/Snip20180207_2.png"/>
 </p>
 <p>
  其中
  <code>
   tagcss
  </code>
  使用过滤器随机显示背景颜色，不过细心的朋友会发现，点击当前标签页并没有显示相关的文章，因为我们还没有做好这个标签搜索。
 </p>
 <h2>
  实现标签连接显示相关文章
 </h2>
 <p>
  首先我们先建立一个
  <code>
   form
  </code>
 </p>
 <p>
  在
  <code>
   forms.py
  </code>
  文件编写如下代码：
 </p>
 <pre><code>class Tagform(forms.Form):
    """tag搜索表单"""
    t = forms.CharField(max_length=20)
</code></pre>
 <p>
  这样我们就定义了一个表单。
 </p>
 <p>
  接下来修改一下视图
  <code>
   views.py
  </code>
  文件中的代码,代码比较多具体请参考
  <code>
   Git
  </code>
  仓库中的源码。到目前为止，我们的标签连接可以正常使用了。
 </p>
 <h2>
  结尾
 </h2>
 <p>
  云标签这个功能很不错的，写起来稍有点麻烦，不过只要你了解了各部件的功能，就知道如何下手了。
 </p>
 <h2>
  本文源码下载：
 </h2>
 <ul>
  <li>
   <a href="https://github.com/bosichong/17python.com/tree/master/Django">
    github
   </a>
  </li>
  <li>
   <a href="https://gitee.com/J_Sky/17python.com/tree/master/Django">
    开源中国码云镜像gitee
   </a>
  </li>
 </ul>
 <div class="spage">
  <div aria-label="Basic example" class="pagination pagination4 btn-group" id="suiyanpage" role="group">
   <a href="/list/list_4.html">
    <button class="prev btn btn-primary" type="button">
     Previous
    </button>
   </a>
   <button class="page btn btn-primary" type="button">
    5 / 16
   </button>
   <a href="/list/list_6.html">
    <button class="next btn btn-primary" type="button">
     Next
    </button>
   </a>
  </div>
 </div>
</div>
   </section>
   <script src="/assets/plugins/jquery-3.3.1.min.js">
   </script>
   <!-- Javascript -->
   <script src="/assets/plugins/bootstrap/js/bootstrap.min.js">
   </script>
   <footer class="footer text-center py-2 theme-bg-dark">
    <div class="card text-center">
     <div class="card-body">
      <p>
       <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="license" target="_blank">
        <img src="https://licensebuttons.net/l/by-nc-sa/4.0/80x15.png" style="border-width:0"/>
       </a>
      </p>
      <p class="am-text-sm am-text-center">
       <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="license" target="_blank">
        本站采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可。
       </a>
      </p>
      <p>
       Powered by
       <a href="https://gitee.com/J_Sky/suiyan">
        SuiYan
       </a>
       | by J.sky
       <small>
        Copyright
        <i aria-hidden="true" class="fa fa-copyright">
        </i>
        2017-2020 碎言博客
       </small>
      </p>
     </div>
    </div>
    <!-- Scroll to Top button selector -->
    <a class="to-top">
     <i aria-hidden="true" class="fa fa-chevron-up fa-3">
     </i>
    </a>
    <script src="/assets/plugins/jquery.toTop.min.js">
    </script>
    <script>
     jQuery(function($){
            // Plugin activation (basic - with all default values)
            // $('.to-top').toTop();

            // Plugin activation with options
            $('.to-top').toTop({
                //options with default values
                autohide: true,  //boolean 'true' or 'false'
                offset: 420,     //numeric value (as pixels) for scrolling length from top to hide automatically
                speed: 500,      //numeric value (as mili-seconds) for duration
                position:true,   //boolean 'true' or 'false'. Set this 'false' if you want to add custom position with your own css
                right: 15,       //numeric value (as pixels) for position from right. It will work only if the 'position' is set 'true'
                bottom: 30       //numeric value (as pixels) for position from bottom. It will work only if the 'position' is set 'true'
            });
        });
    </script>
    <!-- 搜索模态对话框。 -->
    <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg" role="dialog" tabindex="-1">
     <div class="modal-dialog modal-lg">
      <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
         搜索结果
        </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
         <span aria-hidden="true">
          ×
         </span>
        </button>
       </div>
       <div class="modal-body">
        <ul class="search-list car-list navbar-nav">
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- 站点自定义JS -->
    <script src="/assets/js/build/index.js">
    </script>
    <!-- highlight.js Markdown代码美化 -->
    <script src="/assets/plugins/highlight/highlight.pack.js">
    </script>
    <script>
     hljs.initHighlightingOnLoad();
    </script>
   </footer>
  </div>
  <!--//main-wrapper-->
 </body>
</html>