body {
  background: #2b0808;
  color: #adadad;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 320px;
  background: #600;
  color: #f1ede9;
}
.header .blog-name {
  font-weight: bold;
  font-size: 1.5rem;
  color: #f1ede9;
}
.header .blog-name a {
  color: #f1ede9;
}
.header #blog-nav .navbar-toggler {
  color: #f1ede9;
}
.header #blog-nav #navigation .profile-section .social-list li {
  margin-right: 0.5rem;
  display: inline-block;
}
.header #blog-nav #navigation .profile-section .social-list li a {
  color: #f1ede9;
  width: 28px;
  height: 28px;
}
.header #blog-nav #navigation .profile-section .profile-image {
  width: 160px;
}
.header #blog-nav #navigation .profile-section .blog-description {
  text-decoration: none;
}
.header #blog-nav #navigation .blog-nav li a {
  color: #f1ede9;
}
.header #blog-nav #navigation .sform .search {
  background-color: #600;
  border: none;
  color: #f1ede9;
  box-shadow: none;
}
.main-wrapper {
  margin-left: 320px;
  background: #2b0808;
  color: #adadad;
}
.main-wrapper .b_data {
  background: #1E2128;
}
.main-wrapper .blog-p #rt {
  padding-right: 25px;
  padding-left: 25px;
}
.main-wrapper .blog-p #rt a {
  color: #f1ede9;
}
.main-wrapper .blog-p #rt .table {
  color: #adadad;
}
.main-wrapper .blog-p .row a {
  color: #f1ede9;
}
.main-wrapper .blog-p .btn {
  background-color: #600;
  border-color: #600;
}
.main-wrapper .blog-list .card {
  background: #2b0808;
  border: none;
}
.main-wrapper .blog-list .data-list .table {
  color: #adadad;
}
.main-wrapper .blog-list .btn {
  background-color: #600;
  border: none;
  color: #f1ede9;
}
.main-wrapper .blog-list .btn:focus {
  box-shadow: none;
}
.main-wrapper .blog-list .spage .prev,
.main-wrapper .blog-list .spage .next,
.main-wrapper .blog-list .spage .page {
  background-color: #600;
  border: none;
  color: #f1ede9;
}
.main-wrapper .blog-list .list-group-item {
  margin-bottom: 5px;
  background: #330f06;
  color: #adadad;
}
.main-wrapper .blog-list .list-group-item a {
  color: #f1ede9;
}
.main-wrapper .blog-list .bd-example .tag-bt {
  margin: 0.5rem;
}
.main-wrapper .blog-list .bd-example .tag-bt .badge {
  color: #adadad;
  background: #330f06;
}
.main-wrapper .blog-list a {
  color: #600;
}
.main-wrapper .blog-list .item .more-link {
  color: #600;
}
.main-wrapper .blog-list .meta {
  color: #4b4b4b;
  font-size: 0.8125rem;
}
.main-wrapper .blog-list .meta span a {
  color: #600;
}
.main-wrapper .blog-list .post-thumb {
  max-width: 110px;
  border-radius: 2px;
}
.main-wrapper .footer .card {
  background: #2b0808;
  border: none;
}
.main-wrapper .footer a {
  box-shadow: none;
  color: #f1ede9;
}
@media (max-width: 991.98px) {
  .header {
    position: static;
    width: inherit;
    height: auto;
  }
  .header .blog-name {
    width: 100%;
    position: absolute;
    left: 0;
    top: 1.2rem;
  }
  .header .navbar {
    padding: 1rem;
  }
  .main-wrapper {
    margin-left: 0;
  }
}
.hide {
  display: none;
}
