<!DOCTYPE html>
<html lang="en">
 <head>
  <!-- Meta -->
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   碎言博客碎言博客
  </title>
  <meta content="Python,Django,JavaScript,程序员,人生苦短,我用Python" name="keywords"/>
  <meta content=" Python Django JavaScript 学习讨论,我们是一群热爱Python的程序员，人生苦短，我用JavaScript！一个不会JavaScript的Python开发者不是一个好网管。" name="description"/>
  <meta content="J.sky" name="author"/>
  <link href="/assets/images/favicon.ico" rel="shortcut icon"/>
  <!-- CSS -->
  <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="/assets/css/theme-dark-1.css" id="blogcss" rel="stylesheet" type="text/css"/>
  <!-- highlight.js Markdown代码美化 -->
  <link href="/assets/plugins/highlight/styles/atom-one-dark.css" id="highlight" rel="stylesheet"/>
 </head>
 <body>
  <header class="header text-center">
   <h1 class="blog-name pt-lg-4 mb-0 hide">
    <a href="index.html">
     碎言博客
    </a>
   </h1>
   <nav class="navbar navbar-expand-lg navbar-dark" id="blog-nav">
    <button aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navigation" data-toggle="collapse" type="button">
     <i aria-hidden="true" class="fa fa-bars fa-lg">
     </i>
    </button>
    <div class="collapse navbar-collapse flex-column" id="navigation">
     <div class="profile-section pt-3 pt-lg-0">
      <img class="profile-image mb-3 rounded-circle mx-auto hide" height="160px" src="/assets/images/touxiang.jpg" width="160px"/>
      <div class="blog-description mb-3 hide">
       You see see you , This one day day di.
      </div>
      <!--//sns-->
      <ul class="social-list list-inline py-3 mx-auto">
       <li>
        <a class="hide" href="https://github.com/bosichong/suiyan" target="blank_blank">
         <i class="fa fa-github fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://gitee.com/J_Sky/suiyan" target="blank_blank">
         <i class="fa fa-git fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://weibo.com/qq285911" target="blank_blank">
         <i class="fa fa-weibo fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://user.qzone.qq.com/285911/" target="blank_blank">
         <i class="fa fa-qq fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://www.zhihu.com/people/J_sky/activities" target="blank_blank">
         <i class="fa fa-book fa-lg">
         </i>
        </a>
       </li>
      </ul>
      <!--//social-list-->
      <hr/>
     </div>
     <!--//profile-section-->
     <ul class="blog-nav navbar-nav flex-column text-left">
      <li class="nav-item hide">
       <a class="nav-link" href="/index.html">
        <span>
         <i class="fa fa-home fa-lg">
         </i>
         Blog Home
        </span>
       </a>
      </li>
      <li class="nav-item hide">
       <a class="nav-link" href="/archives.html">
        <span>
         <i class="fa fa-archive fa-lg">
         </i>
         Blog Archive
        </span>
       </a>
      </li>
      <li class="nav-item hide">
       <a class="nav-link" href="/tags.html">
        <span>
         <i class="fa fa-tags fa-lg">
         </i>
         Blog Tag
        </span>
       </a>
      </li>
      <li class="nav-item hide">
       <a class="nav-link" href="/blog/aboutme.html">
        <span>
         <i class="fa fa-user fa-lg">
         </i>
         About Me
        </span>
       </a>
      </li>
     </ul>
     <form class="sform hide">
      <div class="form-row">
       <div class="form-group col-md-8">
        <input class="form-control" id="skey" placeholder="JavaScript" type="text"/>
       </div>
       <div class="form-group col-md-3">
        <button class="search btn btn-primary" data-target=".bd-example-modal-lg" data-toggle="modal" type="button">
         Search
        </button>
       </div>
      </div>
     </form>
     <a href="https://www.aliyun.com/sale-season/2020/procurement-new-members?userCode=cnafsz3c" target="_blank">
      <img alt="【采购季】上云仅¥223/3年" class="img-fluid" src="/assets/images/ad/320X100.jpg"/>
     </a>
    </div>
   </nav>
  </header>
  <div class="main-wrapper">
   <section class="blog-list px-3 py-5 p-md-5">
<div class="container-fluid" id="rt">
 <div class="blog-article">
  <h1 class="title">
   实战：利用Django开发部署自己的个人博客（3）Template: Django模板
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2017-11-10 09:19:19
  </span>
  <span class="tag">
   Django
  </span>
 </div>
 <p>
 </p>
</div>
<p>
 一般WEB框架构建几乎相同，都会有路由，视图，模板，中间件等大多功能相同的组件，
 <code>
  Django
 </code>
 也有自己的
 <code>
  Template: Django模板
 </code>
 。
</p>
<h2>
 配置及使用
 <code>
  Django
 </code>
 的模板
</h2>
<p>
 依然使用第一节创建的是项目，创建
 <code>
  myblog.templates.home.html
 </code>
 。
</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Home Page&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    {{ s }}
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>
 然后编写视图文件
 <code>
  myblog.views.py
 </code>
 代码：
</p>
<pre><code>def home(request):
    s = 'Hello World!'
    return render(request,'home.html',{'s':s})
</code></pre>
<p>
 配置路由
 <code>
  mybolg.urls.py
 </code>
 添加代码：
</p>
<pre><code>url(r'^home$', v.home, name='home'),
</code></pre>
<p>
 到此一组路由、视图、模板就配置完了，启动服务器：
 <code>
  python3 manage.py runserver
 </code>
 打开网址：
 <code>
  http://127.0.0.1:8000/blog/home
 </code>
 你会看到如下图：
</p>
<p>
 <img alt="输入图片说明" src="/assets/images/media/upload/2017/11/Snip20171110_7.png"/>
</p>
<h2>
 继续深入模板
</h2>
<p>
 我们修改视图
 <code>
  myblog.views.py
 </code>
 中的代码如下：
</p>
<pre><code>def home(request):
    s = 'Hello World!'
    l = [1,2,3,4,5,6,7,8]
    info_dict = {'h': 'hello', 'w': 'world'}
    return render(request, 'blog/home.html', {'s':s, 'l':l, 'info_dict':info_dict})
</code></pre>
<p>
 这次我们添加了一个列表，一组字典，看看在模板中是如何渲染这类数据的。
</p>
<p>
 继续修改
 <code>
  myblog.templates.home.html
 </code>
 :
</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Home Page&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    {% comment %} 变量输出 {% endcomment %}
    &lt;h1&gt;{{ s }}&lt;/h1&gt;
    &lt;br/&gt; {% comment %} 循环输出list {% endcomment %} {% for i in l %} {{ i }} {% endfor %}
    &lt;br/&gt; {% comment %} 字典输出 {% endcomment %} {{ info_dict.h }} {{ info_dict.w }}
    &lt;br/&gt; {% comment %} 循环输出字典 {% endcomment %} {% for key, value in info_dict.items %} {{ key }} : {{ value }} 
    {% endfor %}
&lt;h1&gt;&lt;a href="{% url 'blog:home' %}"&gt;测试&lt;/a&gt;&lt;/h1&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>
 刷新查看一下网页
</p>
<p>
 <img alt="输入图片说明" src="/assets/images/media/upload/2017/11/Snip20171110_8.png"/>
</p>
<p>
 是不是感觉
 <code>
  Django
 </code>
 模板中的沉浸很方便？我们几行代码就渲染了列表，字典。
</p>
<h2>
 一些常用标签
</h2>
<pre><code># 变量
## 通过下标获取列表变量的值
{{ names.0 }}

# 注释
{# 单行注释 #}
{% comment %}多行注释{% endcomment %}

# url路由
有这样一个路由
url(r'^blog/', 'myapp.views.blog'), # 博客页面
那么就这样使用
{% url 'digital.views.blog' %}
或者使用别名，例如
url(r'^blog/', 'myapp.views.blog', name='blog'),
{% url 'blog' %}
如果是其他app的url，那么需要带上该app的namespace，首先在定义的时候需要添加namespace，如
url(r'^oauth/', include('oauth.urls', namespace='oauth'))
然后在实用url的时候：
{% url 'oauth:hello' %}

# for循环
{% for &lt;element&gt; in &lt;list&gt; %}{% endfor %}
{% for &lt;element&gt; in &lt;list&gt; reversed%}{% endfor %} 反向迭代列表
{% for &lt;element&gt; in &lt;list&gt; %}{% empty %}{% endfor %} 列表为空时的输出内容
{{ forloop.counter }}   # 获取当前索引，默认从1开始
{{ forloop.counter0 }}  # 获取当前索引，从0开始

# if语句
{% if &lt;element&gt; %}
{% elif &lt;element&gt; %} 
{% else %}
{% endif %}

{% ifequal 变量1 变量2 %}
比较值
{% endifequal %}
ifnotequal同上
# autoescape标签

{% autoescape on %}       # 去掉自动转义
{{ body }}
{% endautoescape %}

# cycle标签：每次使用该标签，标签中的值就会变化，比如下面这个，第一次该值为row1，第二次则为row2，第三次又变为了1，感觉可以用于循环里面的奇偶什么的
{% for o in some_list %}
&lt;tr class="{% cycle 'row1' 'row'2 %}
...
&lt;/tr&gt;
{% endfor %}

# now 标签，直接将当前时间按指定格式输出：
{% now "jS F Y H:i" %}

# spaceless标签：移出HTML tags之间的空白
{% spaceless %}
&lt;p&gt;
...
&lt;/p&gt;
{% endspaceless %}

# verbatim：停止模版引擎，一般用于在模板里面写Javascript什么的
{% verbatim %}
...
{% endverbatim %}

# with标签：和语法里面的with类似
{% with total=business.employees.count %}
{{ total }} employee{{ total|pluralize }}
{% endwith %}
</code></pre>
<p>
 关于模板强大的功能还有很多，建议参考官方文档进行查阅。
</p>
<p>
 本文部分代码引自
 <a href="http://www.jianshu.com/p/bc6d8f03eacf?utm_source=desktop&amp;utm_medium=timeline">
  我的Django手册
 </a>
</p>
<h2>
 本文源码下载：
</h2>
<ul>
 <li>
  <a href="https://github.com/bosichong/17python.com/tree/master/Django">
   github
  </a>
 </li>
 <li>
  <a href="https://gitee.com/J_Sky/17python.com/tree/master/Django">
   开源中国码云镜像gitee
  </a>
 </li>
</ul>
<section class="blog-p text-center">
 <div class="gitedit">
  发现错误？想参与编辑？
  <a class="giturl" href="https://github.com/Jsky2020/suiyan/blob/master/articles/54.md" target="_blank">
   在 GitHub 上编辑此页！
  </a>
 </div>
 <p class="qqqun">
  如果您有什么问题，欢迎加入Python/Javascript学习讨论群询问
 </p>
 <p class="qqqun">
  Python/Javascript学习QQ群号：217840699
 </p>
</section>
<div class="blog-article">
</div>
   </section>
   <script src="/assets/plugins/jquery-3.3.1.min.js">
   </script>
   <!-- Javascript -->
   <script src="/assets/plugins/bootstrap/js/bootstrap.min.js">
   </script>
   <footer class="footer text-center py-2 theme-bg-dark">
    <div class="card text-center">
     <div class="card-body">
      <p>
       <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="license" target="_blank">
        <img src="https://licensebuttons.net/l/by-nc-sa/4.0/80x15.png" style="border-width:0"/>
       </a>
      </p>
      <p class="am-text-sm am-text-center">
       <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="license" target="_blank">
        本站采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可。
       </a>
      </p>
      <p>
       Powered by
       <a href="https://gitee.com/J_Sky/suiyan">
        SuiYan
       </a>
       | by J.sky
       <small>
        Copyright
        <i aria-hidden="true" class="fa fa-copyright">
        </i>
        2017-2020 碎言博客
       </small>
      </p>
     </div>
    </div>
    <!-- Scroll to Top button selector -->
    <a class="to-top">
     <i aria-hidden="true" class="fa fa-chevron-up fa-3">
     </i>
    </a>
    <script src="/assets/plugins/jquery.toTop.min.js">
    </script>
    <script>
     jQuery(function($){
            // Plugin activation (basic - with all default values)
            // $('.to-top').toTop();

            // Plugin activation with options
            $('.to-top').toTop({
                //options with default values
                autohide: true,  //boolean 'true' or 'false'
                offset: 420,     //numeric value (as pixels) for scrolling length from top to hide automatically
                speed: 500,      //numeric value (as mili-seconds) for duration
                position:true,   //boolean 'true' or 'false'. Set this 'false' if you want to add custom position with your own css
                right: 15,       //numeric value (as pixels) for position from right. It will work only if the 'position' is set 'true'
                bottom: 30       //numeric value (as pixels) for position from bottom. It will work only if the 'position' is set 'true'
            });
        });
    </script>
    <!-- 搜索模态对话框。 -->
    <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg" role="dialog" tabindex="-1">
     <div class="modal-dialog modal-lg">
      <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
         搜索结果
        </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
         <span aria-hidden="true">
          ×
         </span>
        </button>
       </div>
       <div class="modal-body">
        <ul class="search-list car-list navbar-nav">
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- 站点自定义JS -->
    <script src="/assets/js/build/p.js">
    </script>
    <!-- highlight.js Markdown代码美化 -->
    <script src="/assets/plugins/highlight/highlight.pack.js">
    </script>
    <script>
     hljs.initHighlightingOnLoad();
    </script>
   </footer>
  </div>
  <!--//main-wrapper-->
 </body>
</html>