<!DOCTYPE html>
<html lang="en">
 <head>
  <!-- Meta -->
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   碎言博客碎言博客
  </title>
  <meta content="Python,Django,JavaScript,程序员,人生苦短,我用Python" name="keywords"/>
  <meta content=" Python Django JavaScript 学习讨论,我们是一群热爱Python的程序员，人生苦短，我用JavaScript！一个不会JavaScript的Python开发者不是一个好网管。" name="description"/>
  <meta content="J.sky" name="author"/>
  <link href="/assets/images/favicon.ico" rel="shortcut icon"/>
  <!-- CSS -->
  <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="/assets/css/theme-dark-1.css" id="blogcss" rel="stylesheet" type="text/css"/>
  <!-- highlight.js Markdown代码美化 -->
  <link href="/assets/plugins/highlight/styles/atom-one-dark.css" id="highlight" rel="stylesheet"/>
 </head>
 <body>
  <header class="header text-center">
   <h1 class="blog-name pt-lg-4 mb-0 hide">
    <a href="index.html">
     碎言博客
    </a>
   </h1>
   <nav class="navbar navbar-expand-lg navbar-dark" id="blog-nav">
    <button aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navigation" data-toggle="collapse" type="button">
     <i aria-hidden="true" class="fa fa-bars fa-lg">
     </i>
    </button>
    <div class="collapse navbar-collapse flex-column" id="navigation">
     <div class="profile-section pt-3 pt-lg-0">
      <img class="profile-image mb-3 rounded-circle mx-auto hide" height="160px" src="/assets/images/touxiang.jpg" width="160px"/>
      <div class="blog-description mb-3 hide">
       You see see you , This one day day di.
      </div>
      <!--//sns-->
      <ul class="social-list list-inline py-3 mx-auto">
       <li>
        <a class="hide" href="https://github.com/bosichong/suiyan" target="blank_blank">
         <i class="fa fa-github fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://gitee.com/J_Sky/suiyan" target="blank_blank">
         <i class="fa fa-git fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://weibo.com/qq285911" target="blank_blank">
         <i class="fa fa-weibo fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://user.qzone.qq.com/285911/" target="blank_blank">
         <i class="fa fa-qq fa-lg">
         </i>
        </a>
       </li>
       <li>
        <a class="hide" href="https://www.zhihu.com/people/J_sky/activities" target="blank_blank">
         <i class="fa fa-book fa-lg">
         </i>
        </a>
       </li>
      </ul>
      <!--//social-list-->
      <hr/>
     </div>
     <!--//profile-section-->
     <ul class="blog-nav navbar-nav flex-column text-left">
      <li class="nav-item hide">
       <a class="nav-link" href="/index.html">
        <span>
         <i class="fa fa-home fa-lg">
         </i>
         Blog Home
        </span>
       </a>
      </li>
      <li class="nav-item hide">
       <a class="nav-link" href="/archives.html">
        <span>
         <i class="fa fa-archive fa-lg">
         </i>
         Blog Archive
        </span>
       </a>
      </li>
      <li class="nav-item hide">
       <a class="nav-link" href="/tags.html">
        <span>
         <i class="fa fa-tags fa-lg">
         </i>
         Blog Tag
        </span>
       </a>
      </li>
      <li class="nav-item hide">
       <a class="nav-link" href="/blog/aboutme.html">
        <span>
         <i class="fa fa-user fa-lg">
         </i>
         About Me
        </span>
       </a>
      </li>
     </ul>
     <form class="sform hide">
      <div class="form-row">
       <div class="form-group col-md-8">
        <input class="form-control" id="skey" placeholder="JavaScript" type="text"/>
       </div>
       <div class="form-group col-md-3">
        <button class="search btn btn-primary" data-target=".bd-example-modal-lg" data-toggle="modal" type="button">
         Search
        </button>
       </div>
      </div>
     </form>
     <a href="https://www.aliyun.com/sale-season/2020/procurement-new-members?userCode=cnafsz3c" target="_blank">
      <img alt="【采购季】上云仅¥223/3年" class="img-fluid" src="/assets/images/ad/320X100.jpg"/>
     </a>
    </div>
   </nav>
  </header>
  <div class="main-wrapper">
   <section class="blog-list px-3 py-5 p-md-5">
<div class="container-fluid" id="rt">
 <div class="blog-article">
  <h1 class="title">
   实战：利用Django开发部署自己的个人博客（12）实现博客文章的分页
  </h1>
  <span class="author">
   J.sky
  </span>
  <span class="time">
   2017-12-13 09:54:56
  </span>
  <span class="tag">
   Django
  </span>
 </div>
 <p>
 </p>
</div>
<p>
 一不留神已经开始写滴12节了，但感觉还是有很多细节的知识点没有写到，这节说说数据分页在
 <code>
  Django
 </code>
 的实现吧。
</p>
<h2>
 数据分页
</h2>
<p>
 说道数据分页这个功能，在编程的日常中是经常遇到的，WEB的日常更不用说了，所以理解并熟练的掌握分页的技术可以说是很重要的了。
关于数据分页的理论这里不再做细节的讨论，我们重点来了解利用
 <code>
  Django
 </code>
 中的模块的实现方法。
</p>
<h2>
 数据分页终端下的测试
</h2>
<p>
 <code>
  django.core.paginator
 </code>
 是Django提供的一个数据分页模块，当你的分页数据量不大的时候（比如几万的数据量）可以使用这个模块。
因为这个模块需要先返回所有需要分页的数据，然后根据一定的逻辑进行分页，这就是所谓的逻辑分页吧，所以小数量分页可以直接考虑用
 <code>
  django.core.paginator
 </code>
 。
而且这个分页模块可以拿出来单独使用，就象
 <code>
  Django ORM
 </code>
 一样，可以脱离WEB环境使用，我们创建一个简单的数据来测试一下这个分布模块。
</p>
<p>
 我觉得代码是最好的教程：
</p>
<pre><code>➜  ~ python3 
Python 3.6.1 (v3.6.1:69c0db5050, Mar 21 2017, 01:21:04) 
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
&gt;&gt;&gt; from django.core.paginator import Paginator
&gt;&gt;&gt; objs = [k for k in range(1000)]
&gt;&gt;&gt; p = Paginator(objs, 10)
&gt;&gt;&gt; p.count
1000
&gt;&gt;&gt; p.num_pages
100
&gt;&gt;&gt; p.page_range
range(1, 101)
&gt;&gt;&gt; page1 = p.page(1)
&gt;&gt;&gt; page1
&lt;Page 1 of 100&gt;
&gt;&gt;&gt; page1.object_list
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
&gt;&gt;&gt; page2 = p.page(100)
&gt;&gt;&gt; page2.object_list
[990, 991, 992, 993, 994, 995, 996, 997, 998, 999]
&gt;&gt;&gt; page2.has_next()
False
&gt;&gt;&gt; page2.has_previous()
True
&gt;&gt;&gt; page1.has_previous()
False
&gt;&gt;&gt;
</code></pre>
<p>
 通过上边的代码，我们可以看到
 <code>
  Paginator
 </code>
 对数据分页的封装是很好的，使用起来也容易理解。
接下来，我们把
 <code>
  django.core.paginator
 </code>
 引入到视图中来使用。
</p>
<p>
 views.py中的代码：
</p>
<pre><code>############################
#翻页视图中代码
############################
paginator = Paginator(articles, 3)#创建Paginator
page = request.GET.get('p')#获取当前页码
try:
    contacts = paginator.page(page)#取得当前页码所包含的数据
except PageNotAnInteger:
    contacts = paginator.page(1)#若不是整数，跳转到第一页。
except EmptyPage:
    contacts = paginator.page(paginator.num_pages)#若超过了最后一页
#############################
</code></pre>
<p>
 把上边的代码加到
 <code>
  return
 </code>
 之前即可，这里要说明一下，之前我们模板调用的数据是
 <code>
  articles
 </code>
 ，现在我们需要分页提供的需要显示的数据，
这里模板中需要引用一组当前页码上需要显示的数据，这里就要使用我们传递的
 <code>
  contacts
 </code>
 ，这里大家应该明白，这是当前页码需要显示的数据。
 <strong>
  然后把模板里的
  <code>
   articles
  </code>
  换成
  <code>
   contacts
  </code>
  ，然后把模板里的
  <code>
   articles
  </code>
  换成contacts
  <code>
   ，然后把模板里的
  </code>
  articles
  <code>
   换成
  </code>
  contacts`
 </strong>
 重要的事情要说三次。
</p>
<p>
 list.html中的代码：
</p>
<pre><code>&lt;!-- 翻页  --&gt;
&lt;div class="am-pagination am-pagination-centered"&gt;
    {% if contacts.has_previous %}
        &lt;li class=""&gt;&lt;a href="?p={{ contacts.previous_page_number }}"&gt;&amp;laquo; 上一页&lt;/a&gt;&lt;/li&gt;
    {% endif %}
    {% for p in contacts.paginator.page_range %}   
        &lt;li class="{% if p == page_number %}am-active{% endif %}"&gt;&lt;a href="?p={{ p }}"&gt;{{ p }}&lt;/a&gt;&lt;/li&gt;
    {% endfor %}
    {% if contacts.has_next %}
        &lt;li class=""&gt;&lt;a href="?p={{ contacts.next_page_number }}"&gt;下一页 &amp;raquo;&lt;/a&gt;&lt;/li&gt;
    {% endif %}
&lt;/div&gt;
</code></pre>
<p>
 这里有几个变量可能是头一次看到，都是一些翻页数据变量，这组模板代码中大量的应用了
 <code>
  {% if XXX %}{% endif %}
 </code>
 标签，
还有这个翻页组件是Amaze UI提供的，笔者感觉还是不错的。
接下来就是运行服务器，预览一下效果，动手点点那些数字，看看连接是否对的上？
</p>
<p>
 <img alt="输入图片说明" src="/assets/images/media/upload/2017/12/Snip20171213_48.png"/>
</p>
<h2>
 数据翻页结束了？
</h2>
<p>
 看了代码，大家是不是觉得太简单了？好吧这里我留个坑，有兴趣的可以自己试试，当前的数据翻页只是所有数据的翻页展示，
如果切换到某个类目下，数据太多，也需要翻页，或是搜索结果很多也需要翻页，大家想想看，根据当前提供一些代码如何扩展实现呢？
</p>
<p>
 如果有问题欢迎各位可以留言给作者提问。
</p>
<p>
 <code>
  django
 </code>
 官方 翻页帮助文档
https://docs.djangoproject.com/en/1.11/topics/pagination/
</p>
<h2>
 本文源码下载：
</h2>
<ul>
 <li>
  <a href="https://github.com/bosichong/17python.com/tree/master/Django">
   github
  </a>
 </li>
 <li>
  <a href="https://gitee.com/J_Sky/17python.com/tree/master/Django">
   开源中国码云镜像gitee
  </a>
 </li>
</ul>
<section class="blog-p text-center">
 <div class="gitedit">
  发现错误？想参与编辑？
  <a class="giturl" href="https://github.com/Jsky2020/suiyan/blob/master/articles/64.md" target="_blank">
   在 GitHub 上编辑此页！
  </a>
 </div>
 <p class="qqqun">
  如果您有什么问题，欢迎加入Python/Javascript学习讨论群询问
 </p>
 <p class="qqqun">
  Python/Javascript学习QQ群号：217840699
 </p>
</section>
<div class="blog-article">
</div>
   </section>
   <script src="/assets/plugins/jquery-3.3.1.min.js">
   </script>
   <!-- Javascript -->
   <script src="/assets/plugins/bootstrap/js/bootstrap.min.js">
   </script>
   <footer class="footer text-center py-2 theme-bg-dark">
    <div class="card text-center">
     <div class="card-body">
      <p>
       <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="license" target="_blank">
        <img src="https://licensebuttons.net/l/by-nc-sa/4.0/80x15.png" style="border-width:0"/>
       </a>
      </p>
      <p class="am-text-sm am-text-center">
       <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="license" target="_blank">
        本站采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可。
       </a>
      </p>
      <p>
       Powered by
       <a href="https://gitee.com/J_Sky/suiyan">
        SuiYan
       </a>
       | by J.sky
       <small>
        Copyright
        <i aria-hidden="true" class="fa fa-copyright">
        </i>
        2017-2020 碎言博客
       </small>
      </p>
     </div>
    </div>
    <!-- Scroll to Top button selector -->
    <a class="to-top">
     <i aria-hidden="true" class="fa fa-chevron-up fa-3">
     </i>
    </a>
    <script src="/assets/plugins/jquery.toTop.min.js">
    </script>
    <script>
     jQuery(function($){
            // Plugin activation (basic - with all default values)
            // $('.to-top').toTop();

            // Plugin activation with options
            $('.to-top').toTop({
                //options with default values
                autohide: true,  //boolean 'true' or 'false'
                offset: 420,     //numeric value (as pixels) for scrolling length from top to hide automatically
                speed: 500,      //numeric value (as mili-seconds) for duration
                position:true,   //boolean 'true' or 'false'. Set this 'false' if you want to add custom position with your own css
                right: 15,       //numeric value (as pixels) for position from right. It will work only if the 'position' is set 'true'
                bottom: 30       //numeric value (as pixels) for position from bottom. It will work only if the 'position' is set 'true'
            });
        });
    </script>
    <!-- 搜索模态对话框。 -->
    <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg" role="dialog" tabindex="-1">
     <div class="modal-dialog modal-lg">
      <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
         搜索结果
        </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
         <span aria-hidden="true">
          ×
         </span>
        </button>
       </div>
       <div class="modal-body">
        <ul class="search-list car-list navbar-nav">
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- 站点自定义JS -->
    <script src="/assets/js/build/p.js">
    </script>
    <!-- highlight.js Markdown代码美化 -->
    <script src="/assets/plugins/highlight/highlight.pack.js">
    </script>
    <script>
     hljs.initHighlightingOnLoad();
    </script>
   </footer>
  </div>
  <!--//main-wrapper-->
 </body>
</html>