

<div class="card text-center">

    <div class="card-body">
        <p><a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank"><img style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png"></a></p>
        <p class="am-text-sm am-text-center"><a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank"> 本站采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可。</a></p>
       <p>Powered by SuiYan | by J.sky</p>
       <p><i class="fa fa-copyright" aria-hidden="true"></i> 9102</p>
        
    </div>

  </div>
  
  


<a class="btn btn-outline-dark" href="#" role="button" style="position:fixed;right:5px;bottom:3px">
    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
</a>

<!-- 搜索模态对话框。 -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">搜索结果</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="search-list car-list navbar-nav">

                </ul>
            </div>
        </div>
    </div>


</div>