

<div class="card text-center">

    <div class="card-body">
        <p><a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank"><img style="border-width:0" src="https://licensebuttons.net/l/by-nc-sa/4.0/80x15.png"></a></p>
        <p class="am-text-sm am-text-center"><a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank"> 本站采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可。</a></p>
       <p>Powered by <a href="https://gitee.com/J_Sky/suiyan">SuiYan</a> | by J.sky</p>
       <p><i class="fa fa-copyright" aria-hidden="true"></i> 9102</p>
        
    </div>

  </div>
  
  


<!-- Scroll to Top button selector -->
<a class="to-top"><i class="fa fa-chevron-up fa-3" aria-hidden="true"></i></a>
<script src="assets/plugins/jquery.toTop.min.js"></script>
<script>
    jQuery(function($){
        // Plugin activation (basic - with all default values)
        // $('.to-top').toTop();

        // Plugin activation with options
        $('.to-top').toTop({
            //options with default values
            autohide: true,  //boolean 'true' or 'false'
            offset: 420,     //numeric value (as pixels) for scrolling length from top to hide automatically
            speed: 500,      //numeric value (as mili-seconds) for duration
            position:true,   //boolean 'true' or 'false'. Set this 'false' if you want to add custom position with your own css
            right: 15,       //numeric value (as pixels) for position from right. It will work only if the 'position' is set 'true'
            bottom: 30       //numeric value (as pixels) for position from bottom. It will work only if the 'position' is set 'true'
        });
    });
</script>



<!-- 搜索模态对话框。 -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">搜索结果</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="search-list car-list navbar-nav">

                </ul>
            </div>
        </div>
    </div>


</div>