<h1 class="blog-name pt-lg-4 mb-0 hide"><a href="index.html">BlogName</a></h1>

<nav id="blog-nav" class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
    </button>
    <div id="navigation" class="collapse navbar-collapse flex-column">

        <div class="profile-section pt-3 pt-lg-0">
            <img class="profile-image mb-3 rounded-circle mx-auto hide" src="assets/images/touxiang.jpg" width="160px"
                height="160px">

            <div class="blog-description mb-3 hide">blog_description</div>
            <!--//sns-->
            <ul class="social-list list-inline py-3 mx-auto">


            </ul>
            <!--//social-list-->
            <hr>
        </div>
        <!--//profile-section-->
        <ul class="blog-nav navbar-nav flex-column text-left">
        </ul>

        <form class="sform hide">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <input type="text" class="form-control" id="skey" placeholder="JavaScript">
                </div>
                <div class="form-group col-md-3">
                    <button type="button" class="search btn btn-primary" data-toggle="modal"
                        data-target=".bd-example-modal-lg">Search</button>
                </div>
            </div>
        </form>





    </div>

</nav>
