{% extends "layout.html" %}
{% block title %}{{ config.blog_name }} {{ title }}{% endblock %}
{% block article %}


<section class="blog-list px-3 py-5 p-md-5">
    <header class="entry-header">
        <h1 class="single-title">
            文章归档
        </h1>
        <div class="archives-meta">
      <span class="meta">
       共有文章:{{ pages_num }}篇,最后更新:{{ update}}
      </span>
        </div>
    </header>
    <button aria-pressed="true" autocomplete="off" class="btn btn-info btn-sm car-all active" data-toggle="button" type="button">折叠所有</button>
    <ul class="car-list navbar-nav">

        {% for ar in archives %}
<!--        {{ ar }}-->
        <li class="nav-item">
          <span class="car-yearmonth meta" style="cursor:pointer;">
               <i aria-hidden="true" class="fa fa-list-ul">
               </i>
               {{ ar.date }}
               <span class="meta" title="文章数量">
                (共{{ ar.num}}篇文章)
               </span>
          </span>
            <ul class="car-monthlisting list-group" style="display: none;">
                {% for a in ar.data %}
                <li class="list-group-item">
                    <a href="{{a.url}}.html" target="_blank">{{ a.title }}</a>
                    <span title="发布日期">{{ a.time }}</span>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</section>

<script src="./assets/js/archive.js"></script>
{% endblock %}